@model IEnumerable<OCM.API.Common.Model.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table table-striped">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.IdentityProvider)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Identifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReputationPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permissions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermissionsRequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProfilePublic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmergencyChargingProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublicChargingProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
    
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.EmailHash != null ? Html.Raw("<img src=\"" + OCM.Core.Util.SecurityHelper.GetGravatarURLFromHash(item.EmailHash) + "\" />") : Html.Raw(""))
        </td>
        <td>
            @Html.ActionLink("Details", "EditUser", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentityProvider)
        </td>
        <td>
            <a href="@Url.Action("EditUser", "Admin", new {id=item.ID })"> @Html.DisplayFor(modelItem => item.Identifier)</a>
        </td>
        <td>
            @if (item.IdentityProvider == "Twitter")
            {
                <a href="https://twitter.com/@item.Identifier" target="_blank">@Html.DisplayFor(modelItem => item.Username)</a>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Username)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReputationPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permissions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermissionsRequested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLastLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProfilePublic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmergencyChargingProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublicChargingProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
       
   
    </tr>
}

</table>
