@using OCM.API.Common.Model
@using OCM.MVC
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Html;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    //test for language code preference, add to Session if present
    //CommonUtil.DetermineLanguageCode(true, this.ViewContext.RouteData.Values["languagecode"] as string);

    string username = HttpContextAccessor.HttpContext.Session.GetString("Username");

    bool isAdministrator = bool.Parse(HttpContextAccessor.HttpContext.Session.GetString("IsAdministrator") ?? "false");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Open Charge Map - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="author" content="openchargemap.org" />


    <!--<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous">-->
    <!--<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-w6tc0TXjTUnYHwVwGgnYyV12wbRoJQo9iMlC2KdkdmVvntGgzT9jvqNEF/uKaF4m" crossorigin="anonymous">-->
    <!--<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-1OYccka9EByiS23wvPFiYHBPRAgU91xYVFb8g8sen6vRiBI5Uko6+B87q8zPGUnA" crossorigin="anonymous">-->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="~/css/site.css" rel="stylesheet" />

    <!--fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300|Oxygen:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#efefef",
                        "text": "#404040"
                    },
                    "button": {
                        "background": "#8ec760",
                        "text": "#ffffff"
                    }
                },
                "theme": "classic",
                "position": "bottom-right",
                "content": {
                    "href": "https://openchargemap.org/site/about/terms"
                }
            })
        });
    </script>

    <!-- End Cookie Consent plugin -->

    <script>
        function mapLoaded() {
            document.getElementById("map-loading").style.display = "none";
        }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z72QN2CCLC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Z72QN2CCLC');
    </script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" role="navigation">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">open charge map</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="">...</span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active"><a class="nav-link" id="nav_home" href="@Url.Action("Index", "Home")" data-localize="ocm.navigation.home">home</a></li>

                <li class="nav-item dropdown">
                    <a href="@Url.Action("Index", "POI")" class="nav-link dropdown-toggle" data-toggle="dropdown"><span data-localize="ocm.navigation.browse.sectionTitle">browse</span> <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://map.openchargemap.io" data-localize="ocm.general.map">map</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Index", "POI")" data-localize="ocm.navigation.browse.allLocations">all locations</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Country")" data-localize="ocm.navigation.browse.byCountry">by country</a>
                        <!-- <a class="dropdown-item" href="@Url.Action("Add", "POI")" data-localize="ocm.general.addLocation">add a location</a>-->



                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="@Url.Action("Index", "Develop")" class="nav-link dropdown-toggle" data-toggle="dropdown"><span data-localize="ocm.navigation.develop.sectionTitle">develop</span> <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Index", "Develop")#api" data-localize="ocm.navigation.develop.api">API and embedding</a>
                        <a class="dropdown-item" href="@Url.Action("Apps", "Develop")" data-localize="ocm.navigation.develop.examples">examples</a>
                        <a class="dropdown-item" href="https://github.com/openchargemap" data-localize="ocm.navigation.develop.code">see the code (on github)</a>
                        <a class="dropdown-item" href="https://webtranslateit.com/en/projects/6978-Open-Charge-Map" data-localize="ocm.navigation.develop.translate">help translate</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="https://community.openchargemap.org" class="nav-link dropdown-toggle" data-toggle="dropdown">community <b class="caret"></b></a>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="https://community.openchargemap.org">discussions</a>
                        <a class="dropdown-item" href="https://github.com/openchargemap/ocm-system/issues">github</a>
                        <a class="dropdown-item" href="https://twitter.com/#!/open_charge_map">twitter</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Activity", "POI")" data-localize="ocm.navigation.browse.recentActivity">recent activity</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Stats")" data-localize="ocm.navigation.browse.statistics">statistics</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Index", "POI", new { submissionstatustypeid = ((int)StandardSubmissionStatusTypes.Submitted_UnderReview) })" data-localize="ocm.navigation.browse.avaitingReview">new locations awaiting approval</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "POI", new { submissionstatustypeid = ((int)StandardSubmissionStatusTypes.Imported_UnderReview) })" data-localize="ocm.navigation.browse.awaitingReviewImported">imported locations awaiting approval</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "EditQueue")" data-localize="ocm.navigation.browse.editqueue">edits awaiting approval</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="@Url.Action("Index", "About")" class="nav-link dropdown-toggle" data-toggle="dropdown"><span data-localize="ocm.general.about">about</span> <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Index", "About")" data-localize="ocm.general.about">about</a>
                        <a class="dropdown-item" href="@Url.Action("Terms", "About")" data-localize="ocm.navigation.about.termsPrivacy">terms &amp; privacy</a>
                        <a class="dropdown-item" href="@Url.Action("Guidance", "About")" data-localize="ocm.navigation.about.guidance">guidance for contributors</a>
                        <a class="dropdown-item" href="@Url.Action("DataSharing", "About")" >share data</a>
                        <a class="dropdown-item" href="@Url.Action("Contact", "About")" data-localize="ocm.navigation.about.contact">contact</a>
                    </div>
                </li>

                @if (username != null)
                {
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <span data-localize="ocm.navigation.profile.sectionTitle">my profile</span> <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">

                                <span class="navbar-text text-primary">@Html.Encode(username)</span>
                            </div>
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("my profile", "Index", "Profile", null, new { @class = "dropdown-item" })
                            <!--@Html.ActionLink("my subscriptions", "Subscriptions", "Profile", null, new { @class = "dropdown-item" })-->
                            @Html.ActionLink("my apps", "Applications", "Profile", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("my comments", "Comments", "Profile", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("my uploads", "Media", "Profile", null, new { @class = "dropdown-item" })
                            <div class="nav-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("SignOut", "Profile")" data-localize="ocm.general.signOut">sign out</a>
                        </div>
                    </li>

                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("SignIn", "Profile", new { redirectUrl = Microsoft.AspNetCore.Http.Extensions.UriHelper.GetEncodedUrl(Context.Request) })" data-localize="ocm.navigation.profile.sectionTitle">my profile</a></li>
                }

                @*
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-localize="_langTitle">language</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @foreach (var language in CommonUtil.SupportedLanguages)
                            {
                                <li><a rel="nofollow" href="?languagecode=@language.Key">@language.Value</a></li>
                            }
                        </ul>
                    </li>
                *@

                @if (isAdministrator == true)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "Admin")" data-toggle="dropdown">admin <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Index", "Admin")">dashboard</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "EditQueue")">edit queue</a>
                            <a class="dropdown-item" href="@Url.Action("Users", "Admin")">users</a>
                            <a class="dropdown-item" href="@Url.Action("Operators", "Admin")">operators</a>
                            <a class="dropdown-item" href="@Url.Action("RegisteredApplications", "Admin")">apps</a>
                            <div class="nav-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("PollForTasks", "Admin", new { key = System.Configuration.ConfigurationManager.AppSettings["AdminPollingAPIKey"] })">poll for system tasks</a>
                        </div>
                    </li>
                }
            </ul>
        </div>

    </nav>

    @if (ViewBag.IsHome == true)
    {

        <!--
        <div style="margin-top:60px;padding:0px 30px;">
            <div  class="d-none d-lg-block">
                <div class="banner-background">


                </div>
                <div class="banner-container" style="padding-top:1em;background-image:none;">

                    <div class="banner-backdrop">
                        <div>
                            <h3>Open Charge Map <br /><small data-localize="ocm.general.shortDescription">the global public registry of electric vehicle charging locations</small></h3>
                        </div>
                        <div class="banner-foreground">
                            <div class="applinks pull-right animated fadeInDown">
                                <span data-localize="ocm.infoText.getApp">Get the app</span>:
                                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.webprofusion.openchargemap&hl=en"><i class="fa fa-android"></i> Android</a>
                                <a target="_blank" href="https://itunes.apple.com/us/app/open-charge-map/id528951115"><i class="fa fa-apple"></i> iOS</a>
                                <a target="_blank" href="https://map.openchargemap.io"><i class="fa fa-rocket"></i> Web App</a>
                            </div>
                        </div>
                        <div>

                            <div id="datasummary"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            -->

        <div id="map-loading" style="width:100%;height:500px;background-color:gainsboro;padding:24px;font-size:24px;position:absolute;">
            <i class="fa fa-map"></i> Map Loading..
        </div>
        <div id="map-container" style="position: fixed; width: 100%; height: 100%; padding-top:53px; max-height: fit-content;">
            <iframe id="map-app" src="https://map.openchargemap.io" onload="mapLoaded();" frameborder="0" allow="geolocation" style="width:100%;height:100%"></iframe>
        </div>

        @RenderBody()

    }
    else
    {
        <div class="container-fluid" style="margin-top: 120px;">
            <div class="content">
                @{
                    if (System.Configuration.ConfigurationManager.AppSettings["EnableDataWrites"] == "false")
                    {
                        <div class="alert alert-warning">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Note: Open Charge Map is undergoing extensive maintenance and new edits/submission are not currently being accepted.
                        </div>
                    }
                }
                @RenderBody()
            </div>
        </div>


        <footer class="footer mt-auto py-3">
            <div class="container-fluid">
                <a href="https://www.facebook.com/openchargemap" title="Like us on Facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/#!/open_charge_map" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/openchargemap/" title="Get involved on Github"><i class="fa fa-github"></i></a>
                <a href="@Url.Action("Contact", "About")" title="Contact Us"><i class="fa fa-comments"></i></a>
                <br />
                <span data-localize="ocm.infoText.shortProjectSummary">Open Charge Map is a non-commercial, non-profit service hosted and supported by a community of businesses, charities, developers and interested parties around the world.</span>
            </div>
        </footer>

    }


    @*
        @Html.Raw(CommonUtil.GetLocalizationScriptBlock(Url.Content("~/scripts"), this.ViewContext.RouteData.Values["languagecode"] as string))
    *@

</body>
</html>