@model IEnumerable<OCM.API.Common.Model.MediaItem>
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    bool isAdministrator = bool.Parse(HttpContextAccessor.HttpContext.Session.GetString("IsAdministrator") ?? "false");
}

<div class="row">

    @foreach (var item in Model.Where(i => i.IsEnabled))
    {
        <div class="col-sm-6 col-md-3">
            <div class="img-thumbnail">

                <img class="img-responsive" src="@item.ItemThumbnailURL.Replace("thmb", "medi")" onclick="showLightBox('@item.ItemURL');" />

                <blockquote>
                    <p>@Html.DisplayFor(modelItem => item.Comment)</p>
                    <small>
                        Uploaded by <cite>
                            @if (item.User != null)
                            {
                                <a href="@Url.Action("View", "Profile", new {id=item.User.ID })">@Html.DisplayFor(modelItem => item.User.Username)</a>
                            }
                            else
                            {
                                @Html.DisplayFor(m => item.User.Username)
                            }
                        </cite> on @item.DateCreated.ToString("yyyy-MM-dd")
                    </small>
                    @if (isAdministrator)
                    {
                        <p>
                            <a class="btn btn-danger" href="@Url.Action("MediaDelete", "Admin", new { id=item.ID})" target="_blank"><span class="glyphicon glyphicon-remove"></span> Delete (as Admin)</a>
                        </p>
                    }
                </blockquote>
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="modal-lightbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Image Details</h4>
            </div>
            <div class="modal-body" id="modal-lightbox-content">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function showLightBox(imgUrl) {
        $("#modal-lightbox-content").html("<img src='" + imgUrl + "' class='img-responsive' />");
        $('#modal-lightbox').modal("show");
    }
</script>