@model IEnumerable<OCM.API.Common.Model.ChargePoint>

<small>
    @if (@Model.Count() >= 100)
    {
        @:Showing a maximum of 100 matching results:
    }
    else
    {
        @:There are @Model.Count() matching results
    }
</small>
<div class="results-list">
    @foreach (var item in Model.Take(100))
    {
        <h3>
            <a href="@Url.Action("Details","POI",new{ID=item.ID})">

                @Html.DisplayFor(m => item.AddressInfo.Title)
                <div class="pull-right">
                    @if (item.UserComments != null)
                    {
                        <i class="fa fa-comment-o"></i> @item.UserComments.Count

                    }
                    &nbsp;
                    @if (item.MediaItems != null)
                    {
                        <i class="fa fa-camera"></i> @item.MediaItems.Count
                    }
                </div>


            </a>
        </h3>
        <div class="result row">


            <div class="col-sm-6">
                @Html.DisplayFor(m => item.AddressInfo)

                @Html.ActionLink("View", "Details", new { id = item.ID })
            </div>
            <div class="col-sm-6">
                @if (item.AddressInfo.Distance != null)
                {
                    @Html.Raw(Math.Round(item.AddressInfo.Distance.Value, 2) + " " + item.AddressInfo.DistanceUnit)<br />
                }
                @if (item.UsageType != null)
                {
                    @item.UsageType.Title
                    <br />
                }
                @if (item.StatusType != null)
                {
                    if (item.StatusType.IsOperational != true)
                    {
                        <span class="label label-warning">
                            @item.StatusType.Title
                        </span>
                    }
                    else
                    {
                        <span>@item.StatusType.Title</span>
                    }
                }

                @if (item.Connections != null && item.Connections.Count > 0)
                {
                    var maxLevel = item.Connections[0];
                    foreach (var c in item.Connections)
                    {
                        if (maxLevel.Level == null && c.Level != null)
                        {
                            maxLevel = c;
                        }
                        else
                        {
                            if (c.Level != null)
                            {
                                if (maxLevel.Level.ID > maxLevel.Level.ID)
                                {
                                    maxLevel = c;
                                }
                            }
                        }
                    }

                    if (maxLevel.Level != null)
                    {
                        var connectionType = "";
                        if (maxLevel.ConnectionType != null) { connectionType = maxLevel.ConnectionType.Title; }
                        <br /><span class="fa fa-bolt"></span> @maxLevel.Level.Title
                        <br /><span class="fa fa-link"></span> @connectionType
                    }
                }

            </div>

        </div>
    }
</div>
