@model OCM.API.Common.Model.ConnectionInfo
    
@Html.HiddenFor(model => model.ID)

<div class="row">
    <div class="col-sm-4">
        <div class="form-group" data-editormode="core">
            <div>
                @Html.LabelFor(model => model.ConnectionType)
            </div>
            <div>
                @Html.DropDownListFor(model => model.ConnectionType.ID, (SelectList)ViewBag.ReferenceData.ConnectionTypeList, new { data_localize = "ocm.reference.connectionType" })
                @Html.ValidationMessageFor(model => model.ConnectionType)
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" data-editormode="core">
            <div>
                @Html.LabelFor(model => model.Amps)
            </div>
            <div>
                @Html.EditorFor(model => model.Amps)
                @Html.ValidationMessageFor(model => model.Amps)
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" data-editormode="core">
            <div>
                @Html.LabelFor(model => model.Voltage)
            </div>
            <div>
                @Html.EditorFor(model => model.Voltage)
                @Html.ValidationMessageFor(model => model.Voltage)
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group" data-editormode="core">
            <div>
                @Html.LabelFor(model => model.PowerKW)
            </div>
            <div>
                @Html.EditorFor(model => model.PowerKW)
                @Html.ValidationMessageFor(model => model.PowerKW)
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group" data-editormode="core">
            <div>
                @Html.LabelFor(model => model.Quantity)
            </div>
            <div>
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" data-editormode="core">
            <div>
                @Html.LabelFor(model => model.Level)
            </div>
            <div>
                @Html.DropDownListFor(model => model.Level.ID, (SelectList)ViewBag.ReferenceData.LevelList, new { data_localize = "ocm.reference.levelType" })
                @Html.ValidationMessageFor(model => model.Level)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group" data-editormode="core">
            <div>
                @Html.LabelFor(model => model.StatusType)
            </div>
            <div>
                @Html.DropDownListFor(model => model.StatusType.ID, (SelectList)ViewBag.ReferenceData.StatusTypeList, new { data_localize = "ocm.reference.statusType" })
                @Html.ValidationMessageFor(model => model.StatusType)
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" data-editormode="core">
            <div>
                @Html.LabelFor(model => model.CurrentType)
            </div>
            <div>
                @Html.DropDownListFor(model => model.CurrentType.ID, (SelectList)ViewBag.ReferenceData.CurrentTypeList, new { data_localize = "ocm.reference.supplyType" })
                @Html.ValidationMessageFor(model => model.CurrentType)
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" data-editormode="core">
            <div>
                @Html.LabelFor(model => model.Reference)
            </div>
            <div>

                @Html.EditorFor(model => model.Reference)
                @Html.ValidationMessageFor(model => model.Reference)
            </div>
        </div>
    </div>
</div>


<div class="form-group" data-editormode="core">
    <div>
        @Html.LabelFor(model => model.Comments)
    </div>
    <div>
        @Html.TextAreaFor(model => model.Comments)
        @Html.ValidationMessageFor(model => model.Comments)
    </div>
</div>
<hr />
