@model OCM.API.Common.Model.AddressInfo

<div class="display-field">
    @Html.DisplayFor(model => model.AddressLine1)
</div>

<div class="display-field">
    @Html.DisplayFor(model => model.AddressLine2)
</div>

<div class="display-field">
    @Html.DisplayFor(model => model.Town)
</div>

<div class="display-field">
    @Html.DisplayFor(model => model.StateOrProvince)
</div>

<div class="display-field">
    @Html.DisplayFor(model => model.Postcode)
</div>

<div class="display-field">
    @Html.DisplayFor(model => model.Country.Title)
</div>