@model OCM.API.Common.Model.UserComment
<div>
    @if (ViewBag.ShowPOILink == true)
    {
        <a href="@Url.Action("Details", "POI", new { id = Model.ChargePointID })">OCM-@Model.ChargePointID</a>
    }
    <blockquote>
        @if (Model.Rating != null)
        {
            <strong>Rating: @Html.Raw(Model.Rating) out of 5</strong>
        }
        [
         @if (Model.CommentType != null)
        {
            <strong>@Model.CommentType.Title</strong> 
        }
        
        @if (Model.CheckinStatusType != null)
        {
            <strong>, @Model.CheckinStatusType.Title</strong>
        }
       
        ]
        <p>@Html.DisplayFor(m => m.Comment)</p>
        <small>Comment by 
            <cite title="Source Title">
            @if (Model.User!=null) {
               <a href="@Url.Action("View", "Profile", new {id=Model.User.ID })">@Html.DisplayFor(m => m.User.Username)</a>
            } else {
                @Html.DisplayFor(m => m.UserName)
            }                                             
            </cite> @Html.DisplayFor(m => m.DateCreated)</small>
    </blockquote>

    @if (Model.RelatedURL != null)
    {
        @Html.DisplayFor(m => m.RelatedURL)
    }
</div>
