@model IEnumerable<OCM.API.Common.Model.MediaItem>

<ul class="thumbnails">
    @foreach (var item in Model.Where(i => i.IsEnabled))
    {
        <li class="span4">

            <div class="thumbnail">
                <a href="@item.ItemURL">
                    <img src="@item.ItemThumbnailURL.Replace("thmb", "medi")"/>
                </a>
                

                <blockquote>
                    <p>@Html.DisplayFor(modelItem => item.Comment)</p>
                    <small>Uploaded by <cite>@item.User.Username</cite> on @item.DateCreated.ToString("yyyy-MM-dd")</small>
                </blockquote>
                 
            </div>
         
        </li>    
    }
</ul>

<!-- Modal -->
 @foreach (var item in Model.Where(i => i.IsEnabled))
 {
     <div id="#lightbox-media-@item.ID" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="#lightbox-media-@item.ID-label" aria-hidden="true">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
             <h3 id="#lightbox-media-@item.ID-label">OCM-@item.ChargePointID</h3>
         </div>
         <div class="modal-body">
             <p><img src="@item.ItemURL"/></p>
         </div>
         <div class="modal-footer">
             <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
         </div>
     </div>
 }


<!--

<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        @{
            var count = 0;
            foreach (var item in Model.Where(i => i.IsEnabled))
            {
                <li data-target="#myCarousel" data-slide-to="@count"></li>
            }
            count++;
        }
    </ol>
    <div class="carousel-inner">
        @foreach (var item in Model.Where(i => i.IsEnabled))
        {
            <div class="item">
                <img src="@item.ItemThumbnailURL.Replace("thmb", "medi")"/>
            </div>
        }
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
-->
<script>
//    $('.carousel').carousel();
</script>
