@model IEnumerable<OCM.API.Common.SubscriptionMatchGroup>



@foreach (var item in Model)
{
    <div>
        <h2>
            Items matching your subscription @item.Subscription.Title :
        </h2>
        @foreach (var match in item.SubscriptionMatches)
        {
            <div>
                <h3>
                    @match.Category
                </h3>

                <p>
                    @match.Description
                </p>

                <div class="results-list">

                    @if (match.Category == OCM.API.Common.SubscriptionMatchCategory.NewPOI || match.Category == OCM.API.Common.SubscriptionMatchCategory.UpdatedPOI)
                    {
                        foreach (var p in match.ItemList)
                        {
                            var matchPOI = (OCM.API.Common.Model.ChargePoint)p;
                            <div class="result">
                                <h3>
                                    <a href="@Url.Action("Details","POI",new{id=matchPOI.ID})">@matchPOI.AddressInfo.Title</a>
                                </h3>
                                <p>
                                    @matchPOI.AddressInfo.ToString();
                                </p>
                            </div>
                        }
                    }
                    
                </div>

            </div>
        }
    </div>
}
