@model OCM.API.Common.Model.User

@{
    ViewBag.Title = "Profile";
}

<h2>Your Profile and Stats</h2>

<div>
        <fieldset>
            <legend>Your Profile</legend>
            
            <div class="well clearfix">
                
                @(Model.EmailAddress != null ? Html.Raw("<img class='pull-left img-thumbnail' style='margin-right:1em;' src=\""+OCM.Core.Util.SecurityHelper.GetGravatarURLFromEmailAddress(Model.EmailAddress)+"\" />") : Html.Raw(""))
                <a href="@Url.Action("Edit")" class="btn btn-primary clearfix">Edit Your Profile</a> 
                <p>
                    Note: you can edit your profile image using the popular <a href="http://gravatar.com/" target="_blank">Gravatar</a> service then adding your email address to your profile here (email address is not shared publically).
                </p>
            </div>

            @Html.Partial("_PublicProfile",Model)
            

            <h3>Other Account Details</h3>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.IdentityProvider)</dt>
                <dd>@Html.DisplayFor(model => model.IdentityProvider)</dd>
                <dt>@Html.DisplayNameFor(model => model.Identifier)</dt>
                <dd>@Html.DisplayFor(model => model.Identifier)</dd>
                <dt>@Html.DisplayNameFor(model => model.DateLastLogin)</dt>
                <dd>@Html.DisplayFor(model => model.DateLastLogin)</dd>
                <dt>@Html.DisplayNameFor(model => model.EmailAddress)</dt>
                <dd>@Html.DisplayFor(model => model.EmailAddress)</dd>
            </dl>
        </fieldset>

</div>
