@model OCM.API.Common.Model.User

@if (Model != null)
{

    ViewBag.Title = "OCM User Profile - " + Model.Username;
    <h2>@Model.Username - Profile and Stats</h2>

    if (Model.IsProfilePublic == true)
    {
        @Html.Partial("_PublicProfile", Model)
    }
    else
    {
        <p>This user profile is not public.</p>
    }


    var isUserAdmin = (Session["IsAdministrator"] != null && (bool)Session["IsAdministrator"] == true);

    if (isUserAdmin)
    {
        <h2>Admin Options</h2>
        <a class="btn btn-danger" href="@Url.Action("EditUser", "Admin", new { id=Model.ID})">Edit User Details</a>

        <p>
            You can assign country editor permissions here. Assigning Country Editor permissions will automatically create a country subscription for that user - this is not deleted if the permission is removed.
            <span class="label label-info">Permissions: @Model.Permissions</span>
            
            <div class="form-group">
                
                <div class="col-md-6">
                    @Html.DropDownList("CountryCode", (SelectList)ViewBag.CountryList, new { @class = "form-control" })
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" onclick="toggleCountryEditor(false);">Assign Country Editor</button>
                    
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default" onclick="toggleCountryEditor(true);">Remove Country Editor</button>
                    </div>
                    <script>
                        function toggleCountryEditor(removePermission) {
                            var countryId = $("#CountryCode").val();
                            var url = "@Url.Action("PromoteUserToEditor","Admin")?userId=@Model.ID&autoCreateSubscriptions=true&removePermission=" + removePermission + "&countryID=" + countryId;

                            window.location.href = url;
                        }
                    </script>

                </div>
        </p>
    }
}
else
{
    <div class="alert alert-warning">The specified user profile does not exist</div>
}

