@using OCM.API.Common.Model
@using OCM.MVC


@{
    //test for language code preference, add to Session if present
    CommonUtil.DetermineLanguageCode(true, this.ViewContext.RouteData.Values["languagecode"] as string);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Open Charge Map - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="author" content="openchargemap.org" />

    <link href="~/content/bootstrap.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    <!--fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-startup-image" href="/app/images/splashscreen/AppSplashscreen320x460.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/app/images/icons/AppIcon_114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/app/images/icons/AppIcon_72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/app/images/icons/AppIcon_57x57.png" />
    <link rel="icon" type="image/png" href="/app/images/icons/AppIcon_57x57.png" />
    <link href="http://fonts.googleapis.com/css?family=Oswald:300|Oxygen:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/animate.min.css" rel="stylesheet">

    <script>
    // Prevent variables from being global
    (function () {

    /*
    1. Inject CSS which makes iframe invisible
    */

    var div = document.createElement('div'),
    ref = document.getElementsByTagName('base')[0] ||
    document.getElementsByTagName('script')[0];

    div.innerHTML = '&shy;<style>iframe { visibility: hidden; } </style>';

    ref.parentNode.insertBefore(div, ref);


    /*
    2. When window loads, remove that CSS,
    making iframe visible again
    */

    window.onload = function() {
    div.parentNode.removeChild(div);
    }

    })();
    </script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@Url.Action("Index", "Home")">open charge map</a>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                    <li><a id="nav_home" href="@Url.Action("Index", "Home")" data-localize="ocm.navigation.home">home</a></li>

                    <li class="dropdown">
                        <a href="@Url.Action("Index", "POI")" class="dropdown-toggle" data-toggle="dropdown"><span data-localize="ocm.navigation.browse.sectionTitle">browse</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "POI")" data-localize="ocm.navigation.browse.allLocations">all locations</a></li>
                            <li><a href="@Url.Action("Index", "Country")" data-localize="ocm.navigation.browse.byCountry">by country</a></li>
                            <li><a href="@Url.Action("Add", "POI")" data-localize="ocm.general.addLocation">add a location</a></li>
                            <li><a href="@Url.Action("Activity", "POI")" data-localize="ocm.navigation.browse.recentActivity">recent activity</a></li>
                            <li class="nav-divider"></li>
                            <li><a href="http://openchargemap.org/app" data-localize="ocm.navigation.browse.webApp">web app for mobile</a></li>
                            <li class="nav-divider"></li>
                            <li><a href="@Url.Action("Index", "Stats")" data-localize="ocm.navigation.browse.statistics">statistics</a></li>
                            <li class="nav-divider"></li>
                            <li><a href="@Url.Action("Index", "POI", new { submissionstatustypeid = ((int)StandardSubmissionStatusTypes.Submitted_UnderReview) })" data-localize="ocm.navigation.browse.avaitingReview">new locations awaiting approval</a></li>
                            <li><a href="@Url.Action("Index", "EditQueue")" data-localize="ocm.navigation.browse.editqueue">edits awaiting approval</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Develop")" class="dropdown-toggle" data-toggle="dropdown"><span data-localize="ocm.navigation.develop.sectionTitle">develop</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Develop")#api" data-localize="ocm.navigation.develop.api">API</a></li>
                            <li><a href="@Url.Action("Index", "Develop")#widgets" data-localize="ocm.navigation.develop.htmlWidgets">HTML widgets</a></li>
                            <li><a href="@Url.Action("Apps", "Develop")" data-localize="ocm.navigation.develop.examples">examples</a></li>
                            <li><a href="https://plus.google.com/u/0/communities/112113799071360649945" data-localize="ocm.navigation.develop.getInvolved">get involved</a></li>
                            <li><a href="https://github.com/openchargemap" data-localize="ocm.navigation.develop.code">see the code (on github)</a></li>
                            <li><a href="https://webtranslateit.com/en/projects/6978-Open-Charge-Map" data-localize="ocm.navigation.develop.translate">help translate</a></li>
                        </ul>
                    </li>

                    <li><a href="http://openchargemap.org/forum/" data-localize="ocm.navigation.discuss">discuss</a></li>

                    <li class="dropdown">
                        <a href="@Url.Action("Index", "About")" class="dropdown-toggle" data-toggle="dropdown"><span data-localize="ocm.general.about">about</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "About")" data-localize="ocm.general.about">about</a></li>
                            <li><a href="@Url.Action("Terms", "About")" data-localize="ocm.navigation.about.termsPrivacy">terms &amp; privacy</a></li>
                            <li><a href="@Url.Action("Guidance", "About")" data-localize="ocm.navigation.about.guidance">guidance for contributors</a></li>
                            <li><a href="@Url.Action("Funding", "About")" data-localize="ocm.navigation.about.funding">funding</a></li>
                            <li><a href="@Url.Action("Contact", "About")" data-localize="ocm.navigation.about.contact">contact</a></li>
                        </ul>
                    </li>

                    @if (Session["Username"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span data-localize="ocm.navigation.profile.sectionTitle">my profile</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><p class="navbar-text">@Html.Encode(Session["Username"])</p></li>
                                <li class="nav-divider"></li>
                                <li>@Html.ActionLink("my profile", "Index", "Profile")</li>
                                <li>@Html.ActionLink("my subscriptions", "Subscriptions", "Profile")</li>
                                <li>@Html.ActionLink("my comments", "Comments", "Profile")</li>
                                <li>@Html.ActionLink("my uploads", "Media", "Profile")</li>
                                <li class="nav-divider"></li>
                                <li><a href="@Url.Action("SignOut", "Profile")" data-localize="ocm.general.signOut">sign out</a></li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li><a href="@Url.Action("SignIn", "Profile", new { redirectUrl = Request.Url.AbsoluteUri })" data-localize="ocm.general.signIn">sign in</a></li>
                    }

                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-localize="_langTitle">language</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @foreach (var language in CommonUtil.SupportedLanguages)
                            {
                                <li><a rel="nofollow" href="?languagecode=@language.Key">@language.Value</a></li>
                            }
                        </ul>
                    </li>

                    @if (Session["IsAdministrator"] != null && (bool)Session["IsAdministrator"] == true)
                    {
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Admin")" class="dropdown-toggle" data-toggle="dropdown">admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Admin")">dashboard</a></li>
                                <li><a href="@Url.Action("Index", "EditQueue")">edit queue</a></li>
                                <li><a href="@Url.Action("Users", "Admin")">users</a></li>
                                <li><a href="@Url.Action("Operators", "Admin")">operators</a></li>
                                <li class="nav-divider"></li>
                                <li><a href="@Url.Action("PollForTasks", "Admin", new { key = System.Configuration.ConfigurationManager.AppSettings["AdminPollingAPIKey"] })">poll for system tasks</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container @if(ViewBag.WideContainer==true){<text>container-wide</text>}">
        <div class="content">
            @RenderBody()
        </div>

        <footer>
            <div class="social"><a href="https://plus.google.com/u/0/communities/112113799071360649945" title="Google+ Community"><i class="fa fa-google-plus"></i></a></div>
            <div class="social"><a href="https://www.facebook.com/openchargemap" title="Like us on Facebook"><i class="fa fa-facebook"></i></a></div>
            <div class="social"><a href="https://twitter.com/#!/open_charge_map" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></div>
            <div class="social"><a href="https://github.com/openchargemap/" title="Get involved on Github"><i class="fa fa-github"></i></a></div>
            <div class="social"><a href="@Url.Action("Contact","About")" title="Contact Us"><i class="fa fa-comments"></i></a></div>
            <br />
            <span data-localize="ocm.infoText.shortProjectSummary">Open Charge Map is a non-commercial, non-profit service hosted and supported by a community of businesses, charities, developers and interested parties around the world.</span>
        </footer>
    </div>

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/analytics.js"></script>

    @RenderSection("scripts", required: false)

    @Html.Raw(CommonUtil.GetLocalizationScriptBlock(Url.Content("~/scripts"), this.ViewContext.RouteData.Values["languagecode"] as string))
</body>
</html>