@using OCM.API.Common.Model
@using OCM.MVC
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Open Charge Map - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="author" content="openchargemap.org" />
    @if (ViewBag.EnableAppMarkeplaceLinks == true)
    {
        <meta name="apple-itunes-app" content="app-id=528951115">
    }

    <link href="~/content/bootstrap.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/jquery")
    <!--fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-startup-image" href="/app/images/splashscreen/AppSplashscreen320x460.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/app/images/icons/AppIcon_114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/app/images/icons/AppIcon_72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/app/images/icons/AppIcon_57x57.png" />
    <link rel="icon" type="image/png" href="/app/images/icons/AppIcon_57x57.png" />
    <link href="http://fonts.googleapis.com/css?family=Oswald:300|Oxygen:300" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@Url.Action("Index", "Home")">open charge map</a>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                    <li><a id="nav_home" href="@Url.Action("Index", "Home")">home</a></li>

                    <li class="dropdown">
                        <a href="@Url.Action("Index", "POI")" class="dropdown-toggle" data-toggle="dropdown">browse <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "POI")">browse all locations</a></li>
                            <li><a href="@Url.Action("Index", "Country")">browse by country</a></li>
                            <li><a href="@Url.Action("Add", "POI")">add a location</a></li>
                            <li><a href="@Url.Action("Index", "POI", new { submissionstatustypeid = ((int)StandardSubmissionStatusTypes.Submitted_UnderReview) })">awaiting review</a></li>
                            <li><a href="@Url.Action("Activity", "POI")">recent activity</a></li>
                            <li class="nav-divider"></li>
                            <li><a href="http://openchargemap.org/app">web app for mobile</a></li>
                            <li class="nav-divider"></li>
                            <li><a href="@Url.Action("Index", "Stats")">statistics</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Develop")" class="dropdown-toggle" data-toggle="dropdown">develop <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Develop")#api">API</a></li>
                            <li><a href="@Url.Action("Index", "Develop")#widgets">HTML widgets</a></li>
                            <li><a href="@Url.Action("Apps", "Develop")">examples</a></li>
                            <li><a href="https://plus.google.com/u/0/communities/112113799071360649945">get involved</a></li>
                            <li><a href="https://github.com/openchargemap">see the code (on github)</a></li>
                            <li><a href="https://webtranslateit.com/en/projects/6978-Open-Charge-Map">help translate</a></li>
                        </ul>
                    </li>

                    <li><a href="http://openchargemap.org/forum/">discuss</a></li>

                    <li class="dropdown">
                        <a href="@Url.Action("Index", "About")" class="dropdown-toggle" data-toggle="dropdown">about <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "About")">about</a></li>
                            <li><a href="@Url.Action("Terms", "About")">terms &amp; privacy</a></li>
                            <li><a href="@Url.Action("Contact", "About")">contact</a></li>
                        </ul>
                    </li>



                    @if (Session["Username"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">my profile<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><p class="navbar-text">@Html.Encode(Session["Username"])</p></li>
                                <li class="nav-divider"></li>
                                <li>@Html.ActionLink("my profile", "Index", "Profile")</li>
                                <li>@Html.ActionLink("my comments", "Comments", "Profile")</li>
                                <li>@Html.ActionLink("my uploads", "Media", "Profile")</li>
                                <li class="nav-divider"></li>
                                <li><a href="@Url.Action("SignOut", "Profile")">sign out</a></li>
                            </ul>

                        </li>

                    }
                    else
                    {
                        <li><a href="@Url.Action("SignIn", "Profile", new { redirectUrl = Request.Url.AbsoluteUri })">sign in</a></li>
                    }



                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-localize="_langTitle">language</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @foreach (var language in CommonUtil.SupportedLanguages)
                            {
                                <li><a rel="nofollow" href="?languagecode=@language.Key">@language.Value</a></li>
                            }
                        </ul>
                    </li>

                    @if (Session["IsAdministrator"] != null && (bool)Session["IsAdministrator"] == true)
                    {
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Admin")" class="dropdown-toggle" data-toggle="dropdown">admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Admin")">dashboard</a></li>
                                <li><a href="@Url.Action("Index", "EditQueue")">edit queue</a></li>
                                <li><a href="@Url.Action("Users", "Admin")">users</a></li>
                                <li><a href="@Url.Action("Operators", "Admin")">operators</a></li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>

    </div>



    <div class="container">
        <div class="content">
            @RenderBody()
        </div>

        <footer>
            <div class="social"><a href="https://plus.google.com/u/0/communities/112113799071360649945" title="Google+ Community"><i class="fa fa-google-plus"></i></a></div>
            <div class="social"><a href="https://www.facebook.com/openchargemap" title="Like us on Facebook"><i class="fa fa-facebook"></i></a></div>
            <div class="social"><a href="https://twitter.com/#!/open_charge_map" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></div>
            <div class="social"><a href="https://github.com/openchargemap/" title="Get involved on Github"><i class="fa fa-github"></i></a></div>
            <div class="social"><a href="@Url.Action("Contact","About")" title="Contact Us"><i class="fa fa-comments"></i></a></div>
            <br />
            Open Charge Map is a non-commercial, non-profit service hosted and supported by a community of businesses, charities, developers and interested parties around the world.
        </footer>
    </div>

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/analytics.js"></script>

    @RenderSection("scripts", required: false)

    @Html.Raw(CommonUtil.GetLocalizationScriptBlock(Url.Content("~/scripts"), this.ViewContext.RouteData.Values["languagecode"] as string))
</body>
</html>
