@model IEnumerable<OCM.API.Common.Model.MediaItem>

<ul class="thumbnails">
    @foreach (var item in Model.Where(i => i.IsEnabled))
    {
        <li class="span4">

            <div class="thumbnail">
                <a href="@item.ItemURL">
                    <img src="@item.ItemThumbnailURL.Replace("thmb", "medi")"/>
                </a>
                

                <blockquote>
                    <p>@Html.DisplayFor(modelItem => item.Comment)</p>
                    <small>Uploaded by <cite>@item.User.Username</cite> on @item.DateCreated.ToString("yyyy-MM-dd")</small>
                </blockquote>
                 
            </div>
         
        </li>    
    }
</ul>