@model IEnumerable<OCM.API.Common.Model.ConnectionInfo>

<style>
    .equipment-row {
        min-height: 6em;
        margin: 1em;
    }

    .equipment-core {
        min-height: 8em;
        background-color: #eef3d7;
        color: #303030;
        padding: 1em;
        border-right: 6px solid #e2e6ce;
    }

    .equipment-extended {
        min-height: 8em;
        background-color: #fbfbfb;
        color: #303030;
        padding: 1em;
    }

    .equipment-ref {
        color: #a39e9e;
        font-size: 80%;
    }
</style>

@foreach (var item in Model)
{
    <div class="row equipment-row">
        <div class="col-sm-4 equipment-core">
            <h4>
                <span class="glyphicon glyphicon-link"></span> @Html.DisplayFor(modelItem => item.ConnectionType.Title)
            </h4>
            <div>
                <span class="glyphicon glyphicon-flash"></span> @(item.Level == null ? "Charging Level Unknown" : Html.DisplayFor(modelItem => item.Level.Title).ToString())
            </div>
            <div>
                <span class="glyphicon glyphicon-transfer"></span> @(item.StatusType == null ? "Status Unknown" : Html.DisplayFor(modelItem => item.StatusType.Title).ToString())
            </div>
            <div>
                @if (item.Quantity != null)
                {
                    <span class="glyphicon glyphicon-star"></span> @Html.DisplayFor(modelItem => item.Quantity) <text> Present</text>
                }
            </div>
        </div>

        <div class="col-sm-6 equipment-extended">
            <div class="equipment-ref">
                <span class="glyphicon glyphicon-flash"></span>
                OCM-CN-@item.ID
            </div>
            <div>
                @(item.PowerKW == null ? "" : Html.DisplayFor(modelItem => item.PowerKW).ToString() + " kW") @Html.DisplayFor(modelItem => item.CurrentType.Title)
            </div>
            <div>
                @(item.Voltage == null ? "" : Html.DisplayFor(modelItem => item.Voltage).ToString() + " V")
            </div>
            <div>
                @(item.Amps == null ? "" : Html.DisplayFor(modelItem => item.Amps).ToString() + " A")
            </div>
        </div>
        <div class="col-sm-3">
            <p>@Html.DisplayFor(modelItem => item.Comments)</p>
        </div>
    </div>
}