@model OCM.MVC.Models.POIBrowseModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class="control-label col-md-2" for="search-location">Location</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control" value="@Model.SearchLocation" id="search-location" name="searchlocation" placeholder="Place name or Post/Zip Code" data-toggle="tooltip" title="Enter the place name or part of the address to search for locations near a particular place" />
                    <a class="input-group-addon btn btn-success btn-sm" title="Search Near Me" id="search-nearme" href="#"><i class="glyphicon glyphicon-map-marker"></i></a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="countryids">Country</label>
            <div class="col-md-8">
                @Html.DropDownList("countryids", Model.CountryList, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">

            <label class="control-label col-md-2">Distance</label>

            <div class="col-md-2">
                <select id="distance" name="distance" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                    <option value="100" selected="selected">100</option>
                    <option value="250">250</option>
                    <option value="500">500</option>
                    <option value="2000">2000</option>
                    <option value="10000">10000</option>
                    <option value="20000">20000</option>
                </select>
            </div>
            <div class="col-md-2">
                <select id="distanceunit" name="distanceunit" class="form-control">
                    <option value="miles">Miles</option>
                    <option value="km">KM</option>
                </select>
            </div>
        </div>


        <div id="search-advanced">
            <div class="form-group">

                <label class="control-label col-md-2" for="locationtitle">Title</label>

                <div class="col-md-8">
                    <input type="text" value="@Model.LocationTitle" class="form-control" name="locationtitle" placeholder="Title of place or business" data-toggle="tooltip" title="You can optionally search location titles for a business name etc. " />
                </div>
            </div>
            <div class="form-group">

                <label class="control-label col-md-2">Level</label>

                <div class="col-md-8">
                    @Html.DropDownList("levelids", Model.LevelList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">

                <label class="control-label col-md-2">Usage</label>

                <div class="col-md-8">
                    @Html.DropDownList("usagetypeids", Model.UsageTypeList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">

                <label class="control-label col-md-2" >Network/Operator</label>

                <div class="col-md-8">
                    @Html.DropDownList("operatorids", Model.OperatorList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">

                <label class="control-label col-md-2">Status Type</label>

                <div class="col-md-8">
                    @Html.DropDownList("statustypeids", Model.StatusTypeList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">

                <label class="control-label col-md-2">Data Provider</label>

                <div class="col-md-8">
                    @Html.DropDownList("dataproviderids", Model.DataProviderList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Submission Status</label>
                <div class="col-md-8">
                    @Html.DropDownList("submissionstatustypeid", Model.SubmissionTypeList, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">

                <input type="submit" value="Search" class="btn btn-primary" />
                <input id="toggle-search-advanced" type="button" value="Show/Hide Advanced Search" class="btn btn-info" />
            </div>

        </div>
    </div>

    @Html.HiddenFor(model=>model.ShowAdvancedOptions)
}

<script>
    $(document).ready(function () {

        var showAdvanced = @Html.Raw(Model.ShowAdvancedOptions.ToString().ToLower() + ";")
         
        if (!showAdvanced)
        {
            $("#search-advanced").hide();
        }

        $("#toggle-search-advanced").on("click", function () {
            //toggle advanced
            $("#search-advanced").toggle();

            var advId= "@Html.IdFor(model => model.ShowAdvancedOptions)";
            var advVisible = $("#search-advanced").is(":visible");
            $("#"+advId).val(advVisible);
        });

        $("#search-nearme").on("click", function () {
            getUserLocation();
        });

    });

    function getUserLocation() {
        if (Modernizr.geolocation) {
            navigator.geolocation.getCurrentPosition(gotUserLocation);
        } else {
            alert("Sorry, your browser cannot supply your location information.");
        }
    }

    function gotUserLocation(pos) {
        $("#search-location").val(pos.coords.latitude + "," + pos.coords.longitude);
    }
</script>
