@using OCM.API.Common.Model;
@model OCM.API.Common.Model.ChargePoint

@{
    ViewBag.Title = "Add Charging Location";
}

<h2>Add a Charging Location</h2>


@if (ViewBag.EnablePreviewMode == true)
{

    //setup flags to signal to details view that we're doing a preview
    ViewBag.EnableSimpleView = true;
    <h3>Preview Your Submission:</h3>
    <div style="overflow:auto;background-color:#f1f7e9;padding:1em;">
        You can submit these details as shown: <input type="submit" value="Submit" class="btn btn-success" />
        or edit this listing further: <a href="#editheading" role="button" class="btn btn-primary">Edit</a>
        <div style="margin:6px;">
            @Html.Partial("Details", new OCM.MVC.Models.POIViewModel() { POI = Model })
        </div>

    </div>
    
    <hr />
    <h3 id="editheading">Edit Submission:</h3>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="" id="editExtendedMode">
            Use Advanced Editor
        </label>
    </div>

}


@using (Html.BeginForm("Add", "POI", FormMethod.Post, new { @class = "form", id = "editor" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UUID)

    <p class="alert alert-info">
        Please provide as much detail as you can about the charging location.<em>Please do not submit private residences (such as your home)</em>:
    </p>

    
    <h2 data-localize="ocm.details.location.sectionTitle">Location Details</h2>

    <div id="tab-location">

        @Html.EditorFor(model => model.AddressInfo)
    </div>
    <hr />
    <div id="tab-general" class="container">
        @Html.Partial("_EditPOIBasicDetails", Model)
    </div>
    <div id="tab-equipment">
        <h3 data-localize="ocm.details.equipment.sectionTitle">Equipment Info</h3>
        <p>This section details the exact type and power level of connections available at this site. All details are optional but please provide as much info as possible. </p>
        @for (int i = 0; i < Model.Connections.Count; i++)
        {
            var connectionModel = Model.Connections[i];
            <h4>
                Equipment Item @(i + 1) :
                @if (connectionModel.Reference == null)
                {
                    if (connectionModel.ID > 0)
                    {
                        @:OCM-CN-@connectionModel.ID
                    }
                }
            </h4>
            @Html.EditorFor(m => Model.Connections[i])
        }

        <input type="button" id="additionalEquipment" value="Add Additional Equipment" class="btn btn-info" />
        <input type="hidden" id="editoption" name="editoption" />
    </div>


    <div class="form-actions">
        <a href="@Url.Action("Details", "POI", new { id = Model.ID })" class="btn btn-info">Cancel</a>

        <input type="button" value="Preview" class="btn btn-success" id="preview"/>
        @if (ViewBag.EnablePreviewMode == true){
        <input type="submit" value="Submit" class="btn btn-primary" />
        }
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="@Url.Content("~/Scripts/OCM/SharedLibs/OCM_Data.js")"></script>
<script src="@Url.Content("~/Scripts/OCM/SharedLibs/OCM_Geolocation.js")"></script>

<script>

    $(document).ready(function () {
        
        $("#editExtendedMode").change(function () {
            refreshEditorMode();
        });


        //use bootstrap styles for form controls
        $(".text-box, select, textarea").addClass("form-control");

        refreshEditorMode();

        $("#additionalEquipment").click(function () {
            //submit form and request additional equipment
            $("#editoption").val("addconnection");
            $("#editor").submit();
        });

        $("#preview").click(function () {
            //submit form and request additional equipment
            $("#editoption").val("preview");
            $("#editor").submit();
        });
    });


    function refreshEditorMode() {
        var extendedMode = false;
        if (document.getElementById('editExtendedMode') != null)
        {
            extendedMode = document.getElementById('editExtendedMode').checked;
        }
        
        if (extendedMode === true) {
            $("[data-editormode='extended']").show();
        } else {
            $("[data-editormode='extended']").hide();
            $("[data-editormode='advanced']").hide();
        }

        //TODO: advanced mode
    }


</script>
