@using Microsoft.Web.Helpers
@model OCM.API.Common.Model.ChargePoint

@{
    ViewBag.Title = "Add Photos";
}

@if (ViewBag.UploadCompleted == true)
{
    <h2>Upload in Progress</h2>
    <p>Thanks for your contribution, it takes a few seconds for uploads to be processed, in the meantime you can @Html.ActionLink("return to the location details", "Details", "POI", new { id = ViewBag.PoiId }, null)</p>
}
else
{
    if (Session["UserID"] != null)
    {
        using (Html.BeginForm("AddMediaItem", "POI", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            <h2>Add Your Photos <small>@Model.AddressInfo.Title</small></h2>
            <p>Thanks for going to the effort of uploading new content, you are awesome! Please choose your images to upload, then hit the upload button.</p>

            <div class="container">
                <div class="form-group">
                    
                        @FileUpload.GetHtml(initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, includeFormTag: false, addText: "Add More Images", uploadText: "Upload File")
                                </div>

                                <div class="form-group">
                                    <label for="comment" class="control-label">Comment:</label>

                                    <textarea id="comment" class="form-control" name="comment" maxlength="1000" placeholder="Comment or description to accompany the image"></textarea>
                                </div>

                            </div>
            <div class="alert alert-danger">By submitting content to Open Charge Map you are giving us permission to put the content into the public domain to be freely distrubuted. We reserve the right to delete any content which we deem to be inappropriate or irrelevant.</div>
            <input class="btn btn-primary" type="submit" name="submit" value="Upload!" />
        }
    }
    else
    {
        <span>Please Sign In to upload</span>
    }
}