@model OCM.MVC.Models.POIViewModel

@{
    ViewBag.Title = ViewBag.FullTitle;
}


<link rel="stylesheet" href="~/scripts/leafletjs/leaflet.min.css" />
<script src="~/scripts/leafletjs/leaflet.min.js"></script>

@{
    var detailsCss = "details-container details-plain";
    if (ViewBag.EnableSimpleView != null && !ViewBag.EnableSimpleView == true)
    {
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Browse", "Index", "POI")</li>
            <li class="active">@Model.POI.AddressInfo.Title, @Model.POI.AddressInfo.Country.Title <small>OCM-@Model.POI.ID</small></li>
        </ol>
    }
}

@if (ViewBag.EnablePreviewMode != true)
{

    if (Session["UserID"] != null)
    {

        <div class="form-actions">

            @if (ViewBag.Status == "editsubmitted")
            {
                <div class="alert alert-info">Thank you for your submission. If you are an Editor your changes will take effect immediately, otherwise your proposed change will be reviewed by another editor first.</div>
            }

            <a @(ViewBag.EnableSimpleView == true ? Html.Raw("target=\"_blank\"") : Html.Raw("")) href="@Url.Action("Edit", "POI", new { id = Model.POI.ID })" class="btn btn-info">Edit Listing</a>

        </div>
    }
    else
    {
        <div class="form-actions">To edit, add comments or upload photos: @Html.ActionLink("Sign In", "SignIn", "Profile", new { redirectUrl = Url.Action("Details", "POI", new { id = Model.POI.ID }) }, new { @class = "btn btn-primary", target = "_blank" }) </div>
    }
}

@Html.Partial("_POIListingStatus", Model.POI)


<div id="details-container" class="@detailsCss">

    <h1><span id="location-title">@Html.DisplayFor(m => m.POI.AddressInfo.Title)</span><small data-localize="ocm.details.sectionTitle">charging location</small></h1>
    <div class="tabbable">
        <ul class="nav nav-tabs responsive" id="poiTabs">
            <li class="active">
                <a href="#tab-general" data-toggle="tab" data-localize="ocm.details.location.sectionTitle">Details</a>
            </li>
            <li>
                <a href="#tab-map" data-toggle="tab" data-localize="ocm.details.location.map">Map</a>
            </li>
            <li>
                <a href="#tab-equipment" data-toggle="tab" data-localize="ocm.details.equipment.sectionTitle">Equipment Info</a>
            </li>
            @if (ViewBag.EnablePreviewMode != true)
            {
                <li>
                    <a href="#tab-comments" data-toggle="tab">
                        <span data-localize="ocm.details.commentsAndRatings.sectionTitle">Comments</span>
                        (@if (Model.POI.UserComments != null)
                        {
                            @Model.POI.UserComments.Count
                        }
                        else
                        {
                            @Html.Raw(0)
                        })
                    </a>
                </li>
                <li>
                    <a href="#tab-nearby" data-toggle="tab" data-localize="ocm.details.placesNearby.sectionTitle">Places Nearby</a>
                </li>
                <li>
                    <a href="#tab-media" data-toggle="tab">
                        <span data-localize="ocm.details.mediaItems.sectionTitle">Photos</span> (@if (Model.POI.MediaItems != null)
                        { @Model.POI.MediaItems.Count }
                        else
                        { @Html.Raw(0) })
                    </a>
                </li>
            }
        </ul>
        <div class="tab-content responsive">
            <div id="tab-general" class="tab-pane active">
                <div id="locationdetails-container">
                    <div id="location-details">

                        <div class="social" style="display:none;">
                            <a onclick="sharePopup('http://www.facebook.com/sharer/sharer.php?u=@Url.Content("http://openchargemap.org"+Url.Action("Details", "POI", new { id=Model.POI.ID}))');">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a onclick="sharePopup('http://twitter.com/share?url=@Url.Content("http://openchargemap.org"+Url.Action("Details", "POI", new { id=Model.POI.ID})) via &#64;openchargemap');">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a onclick="sharePopup('https://plus.google.com/share?url=@Url.Content("http://openchargemap.org"+Url.Action("Details", "POI", new { id=Model.POI.ID}))');">
                                <i class="fa fa-google-plus"></i>
                            </a>

                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-6">
                                <strong class="ocm-label" data-localize="ocm.details.location.address">Nearest Address</strong>:
                                <address>
                                    <div>@Html.DisplayFor(m => m.POI.AddressInfo.AddressLine1)</div>
                                    <div>@Html.DisplayFor(m => m.POI.AddressInfo.AddressLine2)</div>
                                    <div>@Html.DisplayFor(m => m.POI.AddressInfo.Town)</div>
                                    <div>@Html.DisplayFor(m => m.POI.AddressInfo.StateOrProvince)</div>
                                    <div>@Html.DisplayFor(m => m.POI.AddressInfo.Postcode)</div>
                                    <div>@Html.DisplayFor(m => m.POI.AddressInfo.Country.Title)</div>
                                </address>
                            </div>
                            <div class="col-sm-4">
                                <strong class="ocm-label" data-localize="ocm.details.location.streetView">Street View</strong>:
                                <div>
                                    <a target="_blank" href="http://maps.google.com/?q=@Model.POI.AddressInfo.ToString()"><img class="img-thumbnail" src="http://maps.googleapis.com/maps/api/streetview?size=240x160&location=@Model.POI.AddressInfo.Latitude,@Model.POI.AddressInfo.Longitude&heading=235&sensor=false" /></a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                @if (!String.IsNullOrEmpty(Model.POI.GeneralComments))
                                {

                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.generalComments">General Information</strong>:
                                        <p>@Html.DisplayFor(m => m.POI.GeneralComments)</p>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                @if (Model.POI.NumberOfPoints != null)
                                {
                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.numberOfPoints">Number Of Stations/Bays</strong>:
                                        @Html.DisplayFor(m => m.POI.NumberOfPoints)
                                    </div>
                                }
                                @if (Model.POI.UsageType != null)
                                {
                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.usageType">Usage</strong>:
                                        @Html.DisplayFor(m => m.POI.UsageType.Title)
                                    </div>
                                }
                                @if (Model.POI.StatusType != null)
                                {
                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.operationalStatus">Operational Status</strong>:
                                        @Html.DisplayFor(m => m.POI.StatusType.Title)
                                    </div>
                                }
                                <div>
                                    <strong class="ocm-label" data-localize="ocm.details.refNumber">OCM Ref</strong>: OCM-@Model.POI.ID
                                </div>
                            </div>
                            <div class="col-md-4">
                                @if (!String.IsNullOrEmpty(Model.POI.AddressInfo.AccessComments))
                                {
                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.accessComments">Access Information</strong>:
                                        <p>@Html.DisplayFor(m => m.POI.AddressInfo.AccessComments)</p>
                                    </div>
                                }

                            </div>
                            <div class="col-md-4">
                                @if (Model.POI.OperatorInfo != null)
                                {
                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.operator.sectionTitle">Network/Operator</strong>
                                        <p>
                                            @Html.DisplayFor(m => m.POI.OperatorInfo.Title)
                                            @Html.DisplayFor(m => m.POI.OperatorInfo.WebsiteURL)
                                            @Html.DisplayFor(m => m.POI.OperatorInfo.PhonePrimaryContact)
                                        </p>
                                    </div>

                                }


                                @if (Model.POI.DataProvider != null)
                                {
                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.dataProvider.sectionTitle">Data Provider</strong>:
                                        <p>
                                            @Html.DisplayFor(m => m.POI.DataProvider.Title)
                                            @Html.DisplayFor(m => m.POI.DataProvider.WebsiteURL)

                                        </p>
                                        @if (Model.POI.DataProvider.DataProviderStatusType != null && Model.POI.DataProvider.DataProviderStatusType.ID == 20)
                                        {
                                            <div class="alert alert-info" data-localize="ocm.details.importedDataNotice">Note: This data is sourced automatically, changes should ideally be submitted to the data provider directly.</div>
                                        }

                                        @if (!String.IsNullOrEmpty(Model.POI.DataProvider.License))
                                        {
                                            <div>
                                                <strong class="ocm-label" data-localize="ocm.details.dataProvider.license">Data License</strong>:
                                                <p>@Model.POI.DataProvider.License</p>
                                            </div>
                                        }
                                    </div>
                                }

                            </div>
                        </div>
                        @if (Model.POI.MetadataValues != null && Model.POI.MetadataValues.Any())
                        {

                            <div>
                                <strong class="ocm-label" data-localize="ocm.details.metadataValues.sectionTitle">Additional Tags</strong>:
                                @Html.DisplayFor(m => m.POI.MetadataValues)
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="tab-map" class="tab-pane">
                <div id="map-container">
                    <div id="map" style="min-width: 300px; min-height: 300px;"></div>
                </div>
            </div>
            <div id="tab-equipment" class="tab-pane">
                @if (Model.POI.Connections != null && Model.POI.Connections.Count() > 0)
                {
                    Html.RenderPartial("_ConnectionList", Model.POI.Connections);
                }
                else
                {
                    <p>Equipment details are not known for this location. If you can provide more information please sign in and choose the Edit option.</p>
                }
            </div>
            @if (ViewBag.EnablePreviewMode != true)
            {
                <div id="tab-comments" class="tab-pane">
                    <div class="row">
                        <div class="col-md-6">
                            <p><span data-localize="ocm.details.commentsAndRatings.addPrompt">Add your own comment/check-in for this location</span>:</p>
                            @if (Session["UserID"] != null)
                            {
                                @Html.EditorFor(m => m.NewComment)
                            }
                            else
                            {
                                @Html.ActionLink("Sign In", "SignIn", "Profile", new { redirectUrl = Url.Action("Details", "POI", new { id = Model.POI.ID }) }, new { @class = "btn btn-primary" })
                            }
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.POI.UserComments)
                        </div>
                    </div>
                </div>
                <div id="tab-nearby" class="tab-pane">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Other Points Of Interest</h2>
                            <div id="nearby-poi"></div>
                        </div>
                        <div class="col-md-6">
                            <h2>Other Charging Locations</h2>
                            @Html.Partial("_POIList", Model.POIListNearby)
                        </div>
                    </div>                    
                </div>
                <div id="tab-media" class="tab-pane">
                    <p>
                        <span data-localize="ocm.details.mediaItems.addPrompt">Upload your own photos for this location</span>:
                        @if (Session["UserID"] != null)
                        {
                            @Html.ActionLink("Upload", "AddMediaItem", "POI", new { id = Model.POI.ID }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("Sign In", "SignIn", "Profile", new { redirectUrl = Url.Action("AddMediaItem", "POI", new { id = Model.POI.ID }) }, new { @class = "btn btn-primary" })
                        }


                    </p>
                    @if (Model.POI.MediaItems != null)
                    {
                        Html.RenderPartial("_MediaItemList", Model.POI.MediaItems);
                    }
                </div>
            }
        </div>
    </div>
</div>

<script>
    var map = new L.Map('map');

    $(document).ready(function () {

        //setup tabs
        $('#poiTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');

            if (e.target.hash == "#tab-map") {
                //when map tab is shown, invalidate map to avoid redraw issue
                setTimeout(function () { map.invalidateSize(true); }, 300);
            }

        });


        //setup map

        @{
            var scriptContent = "var lat = " + Model.POI.AddressInfo.Latitude + "; var lng = " + Model.POI.AddressInfo.Longitude + ";";
                }

        @Html.Raw(scriptContent)

        var itemPos = [lat, lng];

        // create the tile layer with correct attribution
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib = 'Map data (c) OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, { minZoom: 10, maxZoom: 18, attribution: osmAttrib });

        // start the map centred on location
        map.setView(new L.LatLng(itemPos[0], itemPos[1]), 15);
        map.addLayer(osm);

        L.marker(itemPos).addTo(map);

        @if (ViewBag.EnableSimpleView!=true) {
                         <text >
        //setup background image
        //getLocationImage(itemPos);
        </text>
                    }


        //fetch nearby places
        getNearbyPlaces(itemPos[0], itemPos[1], 2);
    });

    function getLocationImage(pos) {
        @if (ViewBag.ImageList != null && ViewBag.ImageList.Count > 0)
                {
                    var locationImage = ViewBag.ImageList[0];
                    <text>
        $('#details-imageblock').html("<img src='@locationImage.ImageURL'/><div><img src='http://www.panoramio.com/img/logo-tos.png'> <a href='@locationImage.DetailsURL'>view original</a> author: <a href='@locationImage.SubmitterURL'>@locationImage.Submitter</a> Photos provided by Panoramio are under the copyright of their owners</div>");
        </text>
                }
    }


    /*
     * Construct the URL to call for the API request
     */
    function constructYelpURL(lat, lng, radius) {

        var URL = "http://api.yelp.com/" +
            "business_review_search?" +
            "callback=?&limit=10" +
            "&lat=" + lat +
            "&long=" + lng +
            "&radius=" + radius +
            "&ywsid=" + "ePh1dFy4Z-Gc56W2sFuSfw";
        return encodeURI(URL);

        //http://api.yelp.com/business_review_search?term=yelp&lat=37.788022&long=-122.399797&radius=10&limit=5&ywsid=XXXXXXXXXXXXXXXXXX
    }

    function getNearbyPlaces(lat, lng, radius) {

        var yelpRequestURL = constructYelpURL(lat, lng, radius);

        $.getJSON(yelpRequestURL, function (data) {

            if (data != null) {
                var output = "";
                var poiList = data.businesses;

                for (var i = 0; i < poiList.length; i++) {
                    var poi = poiList[i];
                    output += "<div class='nearby-place'><img class='place-img' src='" + poi.photo_url_small + "'/> <h3>" + poi.name +
                                    "&nbsp;<img src='" + poi.rating_img_url_small + "'/>" +
                                    (poi.categories.length > 0 ? " <small>" + poi.categories[0].name + "</small> " : "") +
                                    "<small><a target='_blank' href='" + poi.url + "'>View More Details</a></small></h3>" +
                                    "<div>Distance: " + (Math.round(poi.distance * 10) / 10) + "</div>" +
                                    "</div>";
                }

                $("#nearby-poi").html(output);
            }
        });
    }


    function sharePopup(url) {
        window.open(url, "_blank");
    }
</script>
