@model OCM.MVC.Models.StatsModel

@{
    ViewBag.Title = "Statistics";
}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
<h2><i class="fa fa-bar-chart-o"></i> Statistics</h2>

<div class="row well">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "POI")">
            <div class="stat">
                <h2><span id="summary-locationcount">@Model.TotalLocations</span><br /><small data-localize="ocm.infoText.stats.locations">Locations<br /> @Model.TotalStations Stations</small></h2>
            </div>
        </a>
        <div id="datasummary"></div>
    </div>
    <div class="col-md-6">
        <h3><i class="fa fa-line-chart"></i> Summary for Last 90 Days</h3>

        <ul>
            <li>Total Active Editors: @Model.TotalActiveEditors.Quantity</li>
            <li>Total Active Contributors: @Model.TotalActiveContributors.Quantity</li>
            <li>Total Comment Contributors: @Model.TotalCommentContributors.Quantity</li>
            <li>Total Photo Contributors: @Model.TotalPhotoContributors.Quantity</li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h3><i class="fa fa-star"></i> Most Changes Last 90 Days</h3>
        <p>Users who have contributed the most new locations or edits:</p>
        @Html.Partial("_TopContributors", Model.TopContributors)
    </div>
    <div class="col-md-4">


        <h2><i class="fa fa-users"></i> Community Activity</h2>

        @Html.Partial("_UserRegistrations", Model.UserRegistrations)

        
        @Html.Partial("_EditStatistics", Model.UserEdits)


        @Html.Partial("_UserComments", Model.UserComments)
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-commenting"></i> Most Comments Last 90 Days</h3>
        <p>Users who have contributed the most location comments or check-ins:</p>
        @Html.Partial("_TopContributors", Model.TopCommentators)

        <h3><i class="fa fa-commenting"></i> Most Photos Last 90 Days</h3>
        <p>Users who have contributed the most location photos:</p>
        @Html.Partial("_TopContributors", Model.TopMediaItems)
    </div>
</div>