@model IEnumerable<OCM.API.Common.Model.Country>

@{
    ViewBag.Title = "Countries";
    var continents = (Dictionary<string, string>)ViewBag.Continents;
}

<h2>All Countries</h2>

<p>
    We have information on charging locations in the following countries, if your country is not listed we need you to <a href="@Url.Action("Add","POI")">add the locations</a> you know about.
</p>
<div>

    @foreach (var continent in continents)
    {
        <h1>@continent.Value</h1>
        
        foreach (var item in Model.Where(c=>c.ContinentCode==continent.Key))
        {
            var countryNameParam = item.Title.Replace(" ", "").ToLower();
            <div class="well well-sm" style="display:inline-block;margin:1em;">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <ul>
                    <li><a href="@Url.Action("Index", "POI", new { CountryIDs=item.ID, CountryName=countryNameParam})">Charging Locations</a></li>
                    <li><a href="@Url.Content("~/country/" +countryNameParam +"/networks")">Charging Networks</a></li>
                </ul>

            </div>

        }
    }


    
</div>