@model OCM.API.Common.Model.AddressInfo

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AddressInfo</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine1)
            @Html.ValidationMessageFor(model => model.AddressLine1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine2)
            @Html.ValidationMessageFor(model => model.AddressLine2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Town)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Town)
            @Html.ValidationMessageFor(model => model.Town)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StateOrProvince)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StateOrProvince)
            @Html.ValidationMessageFor(model => model.StateOrProvince)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postcode)
            @Html.ValidationMessageFor(model => model.Postcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Latitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Latitude)
            @Html.ValidationMessageFor(model => model.Latitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Longitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Longitude)
            @Html.ValidationMessageFor(model => model.Longitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactTelephone1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactTelephone1)
            @Html.ValidationMessageFor(model => model.ContactTelephone1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactTelephone2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactTelephone2)
            @Html.ValidationMessageFor(model => model.ContactTelephone2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactEmail)
            @Html.ValidationMessageFor(model => model.ContactEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccessComments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccessComments)
            @Html.ValidationMessageFor(model => model.AccessComments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GeneralComments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GeneralComments)
            @Html.ValidationMessageFor(model => model.GeneralComments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RelatedURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RelatedURL)
            @Html.ValidationMessageFor(model => model.RelatedURL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Distance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Distance)
            @Html.ValidationMessageFor(model => model.Distance)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
