@model OCM.API.Common.Model.UserComment

@using (Html.BeginForm("Comment","POI")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ChargePointID)

    <div class="form-group">
    <div class="editor-label">
        @Html.LabelFor(model => model.CommentType)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.CommentType.ID, (SelectList)ViewBag.ReferenceData.UserCommentTypeList)
        @Html.ValidationMessageFor(model => model.CommentType)
    </div>
</div>
    <div class="form-group">
         <div class="editor-label">
            @Html.LabelFor(model => model.CheckinStatusType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CheckinStatusType.ID, (SelectList)ViewBag.ReferenceData.CheckinStatusTypeList)
            @Html.ValidationMessageFor(model => model.CheckinStatusType)
        </div>
        </div>
    <div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>
        </div>
    <div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
             @Html.DropDownListFor(model => model.Rating, (SelectList)ViewBag.ReferenceData.RatingTypeList)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>
        </div>
    <div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.RelatedURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RelatedURL)
            @Html.ValidationMessageFor(model => model.RelatedURL)
        </div>
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Submit Comment" />
        </p>
}