@{
    ViewBag.Title = "The global public registry of electric vehicle charging locations";
    ViewBag.Description = "Open Charge Map is the global database of EV charging stations, managed and populated by EV drivers from all over the world.";
    ViewBag.EnableAppMarkeplaceLinks = true;
}

<style>
    
</style>



<div style="background-color:rgba(0,0,0,0.4);padding:2em;color:white;margin-top:3em;">
    <div class="row">
        <div class="col-md-6 card">
            <h2 data-localize="ocm.general.linkWebApp">Map of Charging Locations</h2>
            <i class="fa fa-search pull-left home-icons"></i>

            <a href="/app" target="_blank">
                <img src="~/Content/images/app.png" class="img-responsive img-thumbnail" alt="Find charging stations near you." />
            </a>
     
        </div>
        <div class="col-md-6 card">
            <h2 data-localize="ocm.infoText.supplyData.sectionTitle">Operators and Data Providers</h2>
            <i class="fa fa-tachometer pull-left home-icons"></i>
            <p>
                <em data-localize="ocm.infoText.supplyData.who">EVSE Suppliers, Network operators, national registries, local charging info apps & sites:</em>
            </p>
            <p>
                <strong data-localize="ocm.infoText.supplyData.needData">We need your data.</strong> <span data-localize="ocm.infoText.supplyData.what">You can supply us with your latest charging location information regardless of whether your organisation owns, operates or simply catalogs the available charging locations. Please</span> <a href="@Url.Action("Contact", "About")" data-localize="ocm.infoText.supplyData.contactUs">contact us</a> <span data-localize="ocm.infoText.supplyData.getStarted">to get started</span>.
            </p>
        </div>
    </div>

    <!--
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
 
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6771534742911508"
         data-ad-slot="6105535073"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    -->
    <div class="row">
        <div class="col-md-6 card">
            <h2 data-localize="ocm.navigation.develop.getInvolved">Get Involved</h2>
            <i class="fa fa-users pull-left home-icons"></i>
            <p> <span data-localize="ocm.infoText.getInvolved.youCan">You can</span> <a href="@Url.Action("Index","POI")" data-localize="ocm.infoText.getInvolved.browseLocations">browse for locations near you</a> <span data-localize="ocm.infoText.getInvolved.commentsPhotos"> and add your own comments and photos</span>.</p>
            <p>
                <span data-localize="ocm.infoText.getInvolved.dontSeePOI">Can't see a charging location you know exists?</span> <a class="btn btn-sm btn-warning" href="@Url.Action("Add", "POI")"><span class="glyphicon glyphicon-plus-sign"></span> <span data-localize="ocm.general.addLocation">Add A Location</span> </a>
            </p>
        </div>
        <div class="col-md-6 card">
            <h2 data-localize="ocm.infoText.getStations.sectionTitle">Get Charging Station Data</h2>

            <i class="fa fa-cloud-download pull-left home-icons"></i>
            <p>
                <em data-localize="ocm.infoText.getStations.who">Vehicle Manufacturers, Sat Nav vendors, App Developers, Website Owners:</em> <span data-localize="ocm.infoText.getStations.what">
                    You can access and download
                    our latest charging locations using our
                </span> <a href="@Url.Action("Index", "Develop")" data-localize="ocm.navigation.develop.api">API</a>.
            </p>
            <p> <span data-localize="ocm.infoText.getStations.websiteOperators">If you operate a website and would like to include a charging location map, you can</span> <a href="@Url.Action("Index", "Develop")" data-localize="ocm.infoText.getStations.embedMap">embed a map on your own website</a>.</p>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://api.openchargemap.io/widgets/databrowser/datasummary.ashx"></script>
<script type="text/javascript">
    var ocmCommonUI = null;

    function refreshDataSummary() {
        // <!--data summary-->
        var ocm_summary = ocm_getdatasummary();
        var summaryContent = "";
        var totalLocations = 0;
        var totalStations = 0;
        for (i = 0; i < ocm_summary.length; i++) {
            //summaryContent += " <a title='"+ocm_summary[i].stationcount + " charging stations across "+ocm_summary[i].locationcount+" locations.' href='javascript:loadCountryMap(\"" + ocm_summary[i].country + "\",\"" + ocm_summary[i].isocode + "\");'><strong>" + ocm_summary[i].country + ":</strong> " + ocm_summary[i].locationcount + "</a>";
            totalLocations += ocm_summary[i].locationcount;
            totalStations += ocm_summary[i].stationcount;
        }

        var summaryElement = document.getElementById("summary-locationcount");

        if (summaryElement != null) summaryElement.innerHTML = totalLocations;

        var translationUtil = _i18nUtils; //global OCM i18n util
        var summaryText = translationUtil.getTranslation("ocm.infoText.stats.locationSummary", "{totalStations} charging stations across {totalLocations} locations.", { totalStations: totalStations, totalLocations: totalLocations });

        summaryContent += "<strong>" + summaryText + "</strong>";
        document.getElementById("datasummary").innerHTML = summaryContent;

    }

    function loadCountryMap(countryName, isoCode) {
        document.getElementById("countrymap").src = "https://openchargemap.org/api/widgets/map/?maptitle=Charging%20Locations: " + countryName + "&maxresults=10000&countrycode=" + isoCode + "&filtercontrols=,nearlocation,distance,country,operator,connectiontype,level,usage,status&clustering=true";
    }

    //when localisation is ready we can render the summary count
    document.addEventListener("ocm-i18n-ready", function (event) {
        refreshDataSummary(event.detail);
    }, false);
</script>