@model OCM.API.Common.Model.PasswordResetRequestModel

    @if (Model.ResetInitiated)
    {
        <h2>Confirmation Email Sent</h2>
        <p>We have sent an email with a confirmation link. Follow the link to complete your password reset.</p>
    }
    else
    {

        if (Model.IsObsoleteLoginProvider)
        {
            <p class="warning">Your Login Provider (Google) is no longer supported however if we have your email address you can still set a password and sign in normally. You will need to reset your password to proceed.</p>
        }

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Reset Your Password</h4>
                <hr />
                <p>To confirm your password reset we need to send you a confirmation email. Enter the email address you have registered against your Open Charge Map profile:</p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (Model.IsUnknownAccount)
                {
                    <p class="alert alert-danger">
                        We could not send a password reset confirmation email. The email address supplied may not match a known user account. Please try again.
                    </p>
                }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Request Password Reset" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    }