@model IEnumerable<OCM.API.Common.DataSummary.GeneralStats>

@{
    var positionCount = 1;

}
<table class="table table-striped">
   



    @foreach (var stat in Model)
    {
        var item = stat.User;

        <tr>
            <td style="font-size:2em;color:#c0c0c0;">@positionCount</td><td>
                                       @Html.Raw("<img class='img-thumbnail' title='Gravatar Profile Image' src=\"" + OCM.Core.Util.SecurityHelper.GetGravatarURLFromHash(item.EmailHash) + "\" />")
            </td>
            <td>
                 @if (item.IsProfilePublic != false)
                    {
                    <a href="@Url.Action("View", "Profile", new { id=item.ID})">@Html.DisplayFor(modelItem => item.Username)</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Username)
                    }


                                    

                                       @if (item.Location != null)
                                       {
                                           <br />
                                           <strong>@Html.DisplayFor(modelItem => item.Location)</strong>
                                       }

                                       @if (item.WebsiteURL != null)
                                       {
                                           <br />
                                           @Html.DisplayFor(modelItem => item.WebsiteURL)
                                       }
                </td>
            <td>

                @stat.Quantity 
            </td>
        </tr>

                   
                   
         

        positionCount++;
    }
</table>