@model OCM.MVC.Models.StatsModel

@{
    ViewBag.Title = "Statistics";
}

<h2><i class="fa fa-bar-chart-o"></i> Statistics</h2>

<div class="row well">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "POI")">
            <div class="stat">
                <h2><span id="summary-locationcount">-----</span><br /><small data-localize="ocm.infoText.stats.locations">Locations</small></h2>
            </div>
        </a>
        <div id="datasummary"></div>
    </div>
    <div class="col-md-6">
        <h3><i class="fa fa-line-chart"></i> Summary for Last 90 Days</h3>

        <ul>
            <li>Total Active Editors: @Model.TotalActiveEditors.Quantity</li>
            <li>Total Active Contributors: @Model.TotalActiveContributors.Quantity</li>
            <li>Total Comment Contributors: @Model.TotalCommentContributors.Quantity</li>
            <li>Total Photo Contributors: @Model.TotalPhotoContributors.Quantity</li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="https://api.openchargemap.io/widgets/databrowser/datasummary.ashx"></script>
<script type="text/javascript">

    function refreshDataSummary() {
        // <!--data summary-->
        var ocm_summary = ocm_getdatasummary();
        var summaryContent = "";
        var totalLocations = 0;
        var totalStations = 0;
        for (i = 0; i < ocm_summary.length; i++) {
            //summaryContent += " <a title='"+ocm_summary[i].stationcount + " charging stations across "+ocm_summary[i].locationcount+" locations.' href='javascript:loadCountryMap(\"" + ocm_summary[i].country + "\",\"" + ocm_summary[i].isocode + "\");'><strong>" + ocm_summary[i].country + ":</strong> " + ocm_summary[i].locationcount + "</a>";
            totalLocations += ocm_summary[i].locationcount;
            totalStations += ocm_summary[i].stationcount;
        }

        document.getElementById("summary-locationcount").innerHTML = totalLocations;

        //summaryContent += "<strong>"+totalStations + "</strong> <span data-localize="ocm.infoText.stats.stations">charging stations across</span> <strong>" + totalLocations + "</strong> <span data-localize="ocm.infoText.stats.acrossLocations">locations</span>.";
        summaryContent += "<strong>" + totalStations + "</strong> charging stations across <strong>" + totalLocations + "</strong> locations.";
        document.getElementById("datasummary").innerHTML = summaryContent;
        $("#datasummary").fadeIn();
    }

    function loadCountryMap(countryName, isoCode) {
        document.getElementById("countrymap").src = "http://openchargemap.org/api/widgets/map/?maptitle=Charging%20Locations: " + countryName + "&maxresults=10000&countrycode=" + isoCode + "&filtercontrols=,nearlocation,distance,country,operator,connectiontype,level,usage,status&clustering=true";
    }

    refreshDataSummary();
</script>

<div class="row">
    <div class="col-md-4">
        <h3><i class="fa fa-star"></i> Most Changes Last 90 Days</h3>
        <p>Users who have contributed the most new locations or edits:</p>
        @Html.Partial("_TopContributors", Model.TopContributors)
    </div>
    <div class="col-md-4">

        <script src="~/Scripts/Chart.min.js"></script>

        <h2><i class="fa fa-users"></i> New Users Per Month</h2>

        @Html.Partial("_UserRegistrations", Model.UserRegistrations)

        <h2><i class="fa fa-map-marker"></i> User Added Locations Per Month</h2>

        @Html.Partial("_EditStatistics", Model.UserEdits)

        <h2><i class="fa fa-comments"></i> User Comments/Check-Ins</h2>

        @Html.Partial("_UserComments", Model.UserComments)
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-commenting"></i> Most Comments Last 90 Days</h3>
        <p>Users who have contributed the most location comments or check-ins:</p>
        @Html.Partial("_TopContributors", Model.TopCommentators)

        <h3><i class="fa fa-commenting"></i> Most Photos Last 90 Days</h3>
        <p>Users who have contributed the most location photos:</p>
        @Html.Partial("_TopContributors", Model.TopMediaItems)
    </div>
</div>