@model OCM.API.Common.Model.ContactSubmission

@{
    ViewBag.Title = "Contact";
}


<h1>Contact Us</h1>
<p>
    Looking to submit details of a new charging location? <a class="btn btn-success" href="@Url.Action("Add","POI")">Add New Location</a>
</p>

<p>
    You should use our <a href="../../../forum/">discussion forum</a> if you wish to ask general questions, if you would like to contact us privately you can do so using the form below. 
                
</p>
@using (Html.BeginForm())
{

    <div class="form">
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Name, "Your Name")
            </div>
            <div>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Email, "Your Email (required for a response)")
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                </div>
            </div>
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Comment, "Your Comment")
                </div>
            <div>
                @Html.TextAreaFor(model => model.Comment, 5, 60, new { @class = "form-control" })
            </div>
            </div>
        <div class="form-options">
            <input type="submit" class="btn btn-info" value="Send Comment" />
        </div>
    </div>
}