@model OCM.API.Common.Model.ContactSubmission

@{
    ViewBag.Title = "Contact";
}

<h1>Contact Us</h1>
<p class="alert alert-info">
    Need to submit details of a new charging location? <a class="btn btn-success btn-sm" href="@Url.Action("Add","POI")">Add New Location</a>
    <br />
    Do you want to suggest edits to an existing location? Browse to the location details and choose 'Edit'. Your edit will then be submitted for approval.
</p>

<p>
    You should use our <a href="https://plus.google.com/u/0/communities/112113799071360649945">discussion group</a> if you wish to ask general questions, if you would like to contact us privately you can do so using the form below.
</p>
@using (Html.BeginForm())
{

    <div class="form">
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Name, "Your Name")
            </div>
            <div>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Email, "Your Email (required for a response)")
            </div>
            <div>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Comment, "Your Comment")
            </div>
            <div>
                @Html.TextAreaFor(model => model.Comment, 5, 60, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <div>
                @Html.LabelFor(model => model.Phone, "Phone Number")
            </div>
            <div>
                @Html.TextAreaFor(model => model.Phone, 5, 60, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-options">
            <input type="submit" class="btn btn-info" value="Send Comment" />
        </div>
    </div>
}