@model IEnumerable<OCM.API.Common.Model.ConnectionInfo>

<style>
    .equipment-row {
        min-height: 6em;
        margin: 1em;
    }

    .equipment-core {
        min-height: 8em;
        background-color: #eef3d7;
        color: #303030;
        padding: 1em;
        border-right: 6px solid #e2e6ce;
    }

    .equipment-extended {
        min-height: 8em;
        background-color: #fbfbfb;
        color: #303030;
        padding: 1em;
    }

    .equipment-ref {
        color: #a39e9e;
        font-size: 80%;
    }
</style>

@foreach (var item in Model)
{
    <div class="row equipment-row">
        <div class="col-sm-4 equipment-core">
            <h4>
                <span class="glyphicon glyphicon-link"></span>

                @if (item.ConnectionType == null)
                {
                    <span data-localize="ocm.reference.connectionType.value_0"> Connection Type Unknown</span>
                }
                else
                {
                    <span data-localize="ocm.reference.connectionType.value_@item.ConnectionTypeID">
                        @item.ConnectionType.Title
                    </span>
                }
            </h4>
            
            <div>
                <span class="glyphicon glyphicon-transfer"></span>

                @if (item.StatusType == null)
                {
                    <span data-localize="ocm.reference.statusType.value_0"> Status Unknown</span>
                }
                else
                {
                    <span data-localize="ocm.reference.statusType.value_@item.StatusTypeID">
                        @item.StatusType.Title
                    </span>
                }
            </div>
            <div>
                @if (item.Quantity != null)
                {
                    <span class="glyphicon glyphicon-star"></span> @Html.DisplayFor(modelItem => item.Quantity) <text> Present</text>
                }
            </div>
        </div>

        <div class="col-sm-6 equipment-extended">
            <div class="equipment-ref">
                <span class="glyphicon glyphicon-flash"></span>
                OCM-CN-@item.ID
            </div>
            <div>
                @(item.PowerKW == null ? "" : item.PowerKW + " kW")
                @if (item.CurrentType != null)
                {
                    <span data-localize="ocm.reference.supplyType.value_@item.CurrentTypeID">
                        @item.CurrentType.Title
                    </span>
                }
            </div>
            <div>
                @(item.Voltage == null ? "" :item.Voltage + " V")
            </div>
            <div>
                @(item.Amps == null ? "" : item.Amps + " A")
            </div>
        </div>
        <div class="col-sm-3">
            <p>@item.Comments</p>
        </div>
    </div>
}