@model OCM.API.Common.Model.ChargePoint
@using Microsoft.AspNetCore.Http;

@{
    ViewBag.Title = "Add Photos";

    int? userId = Context.Session.GetInt32("UserID");

}

@if (ViewBag.UploadCompleted == true)
{
    <h2>Upload in Progress</h2>
    <p>Thanks for your contribution, it takes a few seconds for uploads to be processed, in the meantime you can @Html.ActionLink("return to the location details", "Details", "POI", new { id = ViewBag.PoiId }, null)</p>
}
else
{
    if (userId != null)
    {
        using (Html.BeginForm("MediaItem", "POI", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            <h2>Add Your Photos <small>@Model.AddressInfo?.Title</small></h2>
            <p>Thanks for contributing. Please choose your image to upload, then hit the upload button. If you encounter any problems please try using an image smaller than 2MB in size.</p>

            <div>
                <div class="form-group">
                   
                    <input type="file" name="files"  />
                 
                </div>

                <div class="form-group">
                    <label for="comment" class="control-label">Comment:</label>

                    <textarea id="comment" class="form-control" name="comment" maxlength="1000" placeholder="(Optional) Comment or description to accompany the image"></textarea>
                </div>
            </div>
            @Html.Partial("_TermsLink")
            <input class="btn btn-primary" type="submit" name="submit" value="Upload" />
        }
    }
    else
    {
        <h2>Add Your Photos <small>@Model.AddressInfo.Title</small></h2>
        @Html.Partial("_POISummary", Model)
        <p>
            Please Sign In to proceed: @Html.ActionLink("Sign In", "SignIn", "Profile", new { redirectUrl = Url.Action("AddMediaItem", "POI", new { id = Model.ID }) }, new { @class = "btn btn-primary" })
        </p>
    }
}