@model OCM.MVC.Models.POIViewModel
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Html;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = ViewBag.FullTitle;

    int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserID");


    Func<string, IHtmlContent> formatDescription = str => Html.Raw(Html.Encode(str).Replace("\n", "<br>"));


}
<style>
    html, body, .container, .tab-content, .tab-pane {
        height: 100%;
    }

    #map-canvas {
        width: 100%;
        height: 480px;
    }
</style>

@if (Model.POI == null)
{
    <p class="alert alert-danger">The requested POI is not available.</p>
}
else
{

    var detailsCss = "details-container details-plain";

    <nav aria-label="breadcrumb">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Browse", "Index", "POI")</li>
            <li class="breadcrumb-item active" aria-current="page">@Model.POI.AddressInfo.Title, @Model.POI.AddressInfo.Country.Title <small>OCM-@Model.POI.ID</small></li>
        </ol>

    </nav>


    if (ViewBag.EnablePreviewMode != true)
    {
        if (userId != null)
        {

            <div class="well">

                @if (ViewBag.Status == "editsubmitted")
                {
                    <div class="alert alert-info">Thank you for your submission. If you are an Editor your changes will take effect immediately, otherwise your proposed change will be reviewed by another editor first.</div>
                }

                <a @(ViewBag.EnableSimpleView == true ? Html.Raw("target=\"_blank\"") : Html.Raw("")) href="@Url.Action("Edit", "POI", new { id = Model.POI.ID })" class="btn btn-info">Edit Listing</a>
                <a @(ViewBag.EnableSimpleView == true ? Html.Raw("target=\"_blank\"") : Html.Raw("")) href="@Url.Action("Edit", "POI", new { id = Model.POI.ID, createCopy = true })" class="btn btn-warning">Copy Listing</a>
            </div>
        }
        else
        {
            <div class="alert alert-light" role="alert">
                <span data-localize="ocm.details.editPrompt">To edit, add comments or upload photos</span>: @Html.ActionLink("Sign In", "SignIn", "Profile", new { redirectUrl = Url.Action("Details", "POI", new { id = Model.POI.ID }) }, new { @class = "btn btn-primary", target = "_blank" })
            </div>

        }
    }

    @Html.Partial("_POIListingStatus", Model.POI)

    <div id="details-container" class="@detailsCss">

        <h1><span id="location-title">@Html.DisplayFor(m => m.POI.AddressInfo.Title)</span><small data-localize="ocm.details.sectionTitle">charging location</small></h1>
        <div class="tabbable">
            <ul class="nav nav-tabs responsive" id="poiTabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab-general" data-toggle="tab" data-localize="ocm.details.location.sectionTitle">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-map" data-toggle="tab" data-localize="ocm.details.location.map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-equipment" data-toggle="tab" data-localize="ocm.details.equipment.sectionTitle">Equipment Info</a>
                </li>
                @if (ViewBag.EnablePreviewMode != true)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-comments" data-toggle="tab">
                            <span data-localize="ocm.details.commentsAndRatings.sectionTitle">Comments</span>
                            (@if (Model.POI.UserComments != null)
                            {
                                @Model.POI.UserComments.Count
                            }
                            else
                            {
                                @Html.Raw(0)
                            })
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-nearby" data-toggle="tab" data-localize="ocm.details.placesNearby.sectionTitle">Places Nearby</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-media" data-toggle="tab">
                            <span data-localize="ocm.details.mediaItems.sectionTitle">Photos</span> (@if (Model.POI.MediaItems != null)
                            {@Model.POI.MediaItems.Count }
                        else
                        { @Html.Raw(0)})
                        </a>
                    </li>
                }
            </ul>
            <div class="tab-content responsive">
                <div id="tab-general" class="tab-pane active">
                    <div id="locationdetails-container">
                        <div id="location-details">

                            <div class="social" style="display:none;">
                                <a onclick="sharePopup('http://www.facebook.com/sharer/sharer.php?u=@Url.Content("http://openchargemap.org"+Url.Action("Details", "POI", new { id=Model.POI.ID}))');">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a onclick="sharePopup('http://twitter.com/share?url=@Url.Content("http://openchargemap.org"+Url.Action("Details", "POI", new { id=Model.POI.ID})) via &#64;openchargemap');">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a onclick="sharePopup('https://plus.google.com/share?url=@Url.Content("http://openchargemap.org"+Url.Action("Details", "POI", new { id=Model.POI.ID}))');">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong class="ocm-label" data-localize="ocm.details.location.address">Nearest Address</strong>:
                                    <address>
                                        <div>@Html.DisplayFor(m => m.POI.AddressInfo.AddressLine1)</div>
                                        <div>@Html.DisplayFor(m => m.POI.AddressInfo.AddressLine2)</div>
                                        <div>@Html.DisplayFor(m => m.POI.AddressInfo.Town)</div>
                                        <div>@Html.DisplayFor(m => m.POI.AddressInfo.StateOrProvince)</div>
                                        <div>@Html.DisplayFor(m => m.POI.AddressInfo.Postcode)</div>
                                        <div>@Html.DisplayFor(m => m.POI.AddressInfo.Country.Title)</div>

                                        <br />
                                        @if (!string.IsNullOrEmpty(Model.POI.AddressInfo.ContactTelephone1))
                                        {
                                            <div><i class='fa fa-phone-square fa-fw '></i> @Html.DisplayFor(m => m.POI.AddressInfo.ContactTelephone1)</div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.POI.AddressInfo.ContactTelephone2))
                                        {
                                            <div><i class='fa fa-phone fa-fw'></i> @Html.DisplayFor(m => m.POI.AddressInfo.ContactTelephone2)</div>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.POI.AddressInfo.RelatedURL))
                                        {
                                            <div><i class='fa fa-fw fa-external-link'></i>  @Html.DisplayFor(m => m.POI.AddressInfo.RelatedURL)</div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.POI.AddressInfo.ContactEmail))
                                        {
                                            <div><i class='fa fa-envelope fa-fw'></i>  @Html.DisplayFor(m => m.POI.AddressInfo.ContactEmail)</div>
                                        }
                                    </address>
                                </div>
                                <div class="col-md-4">
                                    @if (!String.IsNullOrEmpty(Model.POI.GeneralComments))
                                    {

                                        <div>
                                            <strong class="ocm-label" data-localize="ocm.details.generalComments">General Information</strong>:
                                            <p>@formatDescription(Model.POI.GeneralComments)</p>
                                        </div>
                                    }
                                </div>

                                <div class="col-md-4">

                                    @if (!Model.POI.IsRecentlyVerified)
                                    {
                                        <div>
                                            <div class="alert alert-warning" data-localize="ocm.warningsErrors.oldData">
                                                <i class="glyphicon glyphicon-alert"></i>
                                                This charging location has not been recently verified and you should not rely solely on this information for journeys.
                                            </div>
                                            <p style="color:#929292">If you have visited this charging location recently please confirm that the information is accurate by adding a Comment or Check-In. <br /><br />If the details are inaccurate please <a href="@Url.Action("Edit","POI",new {id=@Model.POI.ID})" class="alert-link" data-localize-id="link-edit">edit</a> them.</p>
                                        </div>

                                    }


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    @if (Model.POI.NumberOfPoints != null)
                                    {
                                        <div>
                                            <strong class="ocm-label" data-localize="ocm.details.numberOfPoints">Number Of Stations/Bays</strong>:
                                            @Html.DisplayFor(m => m.POI.NumberOfPoints)
                                        </div>
                                    }
                                    @if (Model.POI.UsageType != null)
                                    {
                                        <div>
                                            <strong class="ocm-label" data-localize="ocm.details.usageType">Usage</strong>:
                                            <span data-localize="ocm.reference.usageType.value_@Model.POI.UsageTypeID">
                                                @Html.DisplayFor(m => m.POI.UsageType.Title)
                                            </span>
                                        </div>
                                    }
                                    @if (Model.POI.UsageCost != null)
                                    {
                                        <div>
                                            <strong class="ocm-label" data-localize="ocm.details.usageCost">Usage Cost</strong>:
                                            @Html.DisplayFor(m => m.POI.UsageCost)
                                        </div>
                                    }
                                    @if (Model.POI.StatusType != null)
                                    {
                                        <div>
                                            <strong class="ocm-label" data-localize="ocm.details.operationalStatus">Operational Status</strong>:
                                            <span data-localize="ocm.reference.statusType.value_@Model.POI.StatusTypeID">
                                                @Html.DisplayFor(m => m.POI.StatusType.Title)
                                            </span>
                                        </div>
                                    }

                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.location.latitude">Latitude</strong>:
                                        @Html.DisplayFor(m => m.POI.AddressInfo.Latitude)
                                    </div>
                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.location.longitude">Longitude</strong>:
                                        @Html.DisplayFor(m => m.POI.AddressInfo.Longitude)
                                    </div>
                                    <div>
                                        <strong class="ocm-label" data-localize="ocm.details.refNumber">OCM Ref</strong>: OCM-@Model.POI.ID
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @if (!String.IsNullOrEmpty(Model.POI.AddressInfo.AccessComments))
                                    {
                                        <div>
                                            <strong class="ocm-label" data-localize="ocm.details.accessComments">Access Information</strong>:
                                            <p>@formatDescription(Model.POI.AddressInfo.AccessComments)</p>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-4">
                                    @if (Model.POI.OperatorInfo != null)
                                    {
                                        <div>
                                            <strong class="ocm-label" data-localize="ocm.details.operator.sectionTitle">Network/Operator</strong>
                                            <p>
                                                @Html.DisplayFor(m => m.POI.OperatorInfo.Title)
                                                @Html.DisplayFor(m => m.POI.OperatorInfo.WebsiteURL)
                                                @Html.DisplayFor(m => m.POI.OperatorInfo.PhonePrimaryContact)
                                            </p>
                                        </div>

                                    }

                                    @if (Model.POI.DataProvider != null)
                                    {
                                        <div>
                                            <strong class="ocm-label" data-localize="ocm.details.dataProvider.sectionTitle">Data Provider</strong>:
                                            <p>
                                                @Html.DisplayFor(m => m.POI.DataProvider.Title)
                                                @Html.DisplayFor(m => m.POI.DataProvider.WebsiteURL)
                                            </p>
                                            @if (Model.POI.DataProvider.DataProviderStatusType != null && Model.POI.DataProvider.DataProviderStatusType.ID == 20)
                                            {
                                                <div class="alert alert-info" data-localize="ocm.details.importedDataNotice">Note: This data is sourced automatically, changes should ideally be submitted to the data provider directly.</div>
                                            }

                                            @if (!String.IsNullOrEmpty(Model.POI.DataProvider.License))
                                            {
                                                <div>
                                                    <strong class="ocm-label" data-localize="ocm.details.dataProvider.license">Data License</strong>:
                                                    <p>@Model.POI.DataProvider.License</p>
                                                </div>
                                            }

                                            @if (!String.IsNullOrEmpty(Model.POI.DataProvidersReference))
                                            {
                                                <div>
                                                    <strong class="ocm-label" data-localize="ocm.details.dataProvider.providersReference">Providers Ref</strong>:
                                                    <p>@Model.POI.DataProvidersReference</p>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            @if (Model.POI.MetadataValues != null && Model.POI.MetadataValues.Any())
                            {

                                <div>
                                    <strong class="ocm-label" data-localize="ocm.details.metadataValues.sectionTitle">Additional Tags</strong>:
                                    @Html.DisplayFor(m => m.POI.MetadataValues)
                                </div>
                            }


                            @if (Model.DataQualityReport != null)
                            {
                                @Html.DisplayFor(m => m.DataQualityReport);
                            }
                        </div>
                    </div>
                </div>
                <div id="tab-map" class="tab-pane">
                    <div id="map-container">
                        <iframe id="map-app" src="about:blank" frameborder="0" allow="geolocation" style="width:100%;height:600px"></iframe>
                    </div>
                </div>
                <div id="tab-equipment" class="tab-pane">
                    @if (Model.POI.Connections != null && Model.POI.Connections.Count() > 0)
                    {
                        Html.RenderPartial("_ConnectionList", Model.POI.Connections);
                    }
                    else
                    {
                        <p>Equipment details are not known for this location. If you can provide more information please sign in and choose the Edit option.</p>
                    }
                </div>
                @if (ViewBag.EnablePreviewMode != true)
                {
                    <div id="tab-comments" class="tab-pane">
                        <div class="row">
                            <div class="col-md-6">
                                @if (Model.NewComment != null)
                                {
                                    <p><span data-localize="ocm.details.commentsAndRatings.addPrompt">Add your own comment/check-in for this location</span>:</p>

                                    if (userId != null)
                                    {
                                        @Html.EditorFor(m => m.NewComment)
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("SignIn", "Profile", new { redirectUrl = Url.Action("Details", "POI", new { id = Model.POI.ID }) })" class="btn btn-primary" target="_blank" data-localize="ocm.general.signIn">Sign In</a>
                                    }
                                }
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.POI.UserComments)
                            </div>
                        </div>
                    </div>
                    <div id="tab-nearby" class="tab-pane">

                        <h2 data-localize="ocm.details.placesNearby.chargingLocations">Other Charging Locations</h2>
                        @Html.Partial("_POIList", Model.POIListNearby)

                    </div>
                    <div id="tab-media" class="tab-pane">
                        <p>
                            <span data-localize="ocm.details.mediaItems.addPrompt">Upload your own photos for this location</span>:
                            @if (userId != null)
                            {
                                @Html.ActionLink("Upload", "AddMediaItem", "POI", new { id = Model.POI.ID }, new { @class = "btn btn-primary" })
                            }
                            else
                            {
                                @Html.ActionLink("Sign In", "SignIn", "Profile", new { redirectUrl = Url.Action("AddMediaItem", "POI", new { id = Model.POI.ID }) }, new { @class = "btn btn-primary" })
                            }
                        </p>
                        @if (Model.POI.MediaItems != null)
                        {
                            Html.RenderPartial("_MediaItemList", Model.POI.MediaItems);
                        }
                    </div>
                }
            </div>
        </div>
    </div>


    <script>
        @{
                var scriptContent = "var lat = " + Model.POI.AddressInfo.Latitude + "; var lng = " + Model.POI.AddressInfo.Longitude + ";";
      }

    @Html.Raw(scriptContent)


        $(document).ready(function () {

            //setup tabs

            $('#poiTabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');

                if (e.target.hash == "#tab-map") {
                    // trigger map load

                    var src = "https://map.openchargemap.io/?mode=embedded&latitude=@(Model.POI.AddressInfo.Latitude)&longitude=@Model.POI.AddressInfo.Longitude";
                    if (document.getElementById("map-app").src != src) {
                        document.getElementById("map-app").src = src;
                    }
                }

            });

            @if (ViewBag.EnablePreviewMode != true){
            <text>
            //fetch nearby places
            getNearbyPlaces(lat, lng, 2);
            </text>
            }
        });

        function getLocationImage(pos) {
            @if (ViewBag.ImageList != null && ViewBag.ImageList.Count > 0)
                {
                    var locationImage = ViewBag.ImageList[0];
                    <text>
            $('#details-imageblock').html("<img src='@locationImage.ImageURL' /><div><img src='http://www.panoramio.com/img/logo-tos.png'> <a href='@locationImage.DetailsURL'>view original</a> author: <a href='@locationImage.SubmitterURL'>@locationImage.Submitter</a> Photos provided by Panoramio are under the copyright of their owners</div>");
            </text>
                }
        }

        /*
         * Construct the URL to call for the API request
         */
        function constructYelpURL(lat, lng, radius) {

            var URL = "https://api.yelp.com/v2/search?" +
                "business_review_search?" +
                "callback=?&limit=10" +
                "&lat=" + lat +
                "&long=" + lng +
                "&radius=" + radius +
                "&ywsid=" + "ePh1dFy4Z-Gc56W2sFuSfw";
            return encodeURI(URL);

            //http://api.yelp.com/business_review_search?term=yelp&lat=37.788022&long=-122.399797&radius=10&limit=5&ywsid=XXXXXXXXXXXXXXXXXX
        }

        function getNearbyPlaces(lat, lng, radius) {

            return;

            var yelpRequestURL = constructYelpURL(lat, lng, radius);

            $.getJSON(yelpRequestURL, function (data) {

                if (data != null) {
                    var output = "";
                    var poiList = data.businesses;

                    for (var i = 0; i < poiList.length; i++) {
                        var poi = poiList[i];
                        output += "<div class='nearby-place'><img class='place-img' src='" + poi.photo_url_small + "' /> <h3>" + poi.name +
                                        "&nbsp;<img src='" + poi.rating_img_url_small + "' />" +
                                        (poi.categories.length > 0 ? " <small>" + poi.categories[0].name + "</small> " : "") +
                                        "<small><a target='_blank' href='" + poi.url + "'>View More Details</a></small></h3>" +
                                        "<div>Distance: " + (Math.round(poi.distance * 10) / 10) + "</div>" +
                                        "</div>";
                    }

                    $("#nearby-poi").html(output);
                }
            });
        }

        function sharePopup(url) {
            window.open(url, "_blank");
        }
    </script>
}

