@using OCM.API.Common.Model;
@model OCM.API.Common.Model.ChargePoint
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Html;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = ViewBag.FullTitle;

    int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserID");

    if (ViewBag.EnableEditView == false)
    {
        ViewBag.Title = "Add Charging Location";
        <h2 data-localize="ocm.general.addLocation">Add a Charging Location</h2>
        <script>var enableEditMode = false; var poiId = 0;</script>
    }
    else
    {
        ViewBag.Title = "Edit Charging Location";
        <script>var enableEditMode = true; var poiId = @(Model.ID)</script>
    }

    if (ViewBag.IsReadOnlyMode != null && ViewBag.IsReadOnlyMode == true)
    {
        <p class="alert alert-danger">
            This service is currently Read-Only and submission or edits are not currently being accepted.
        </p>

        }
    }

    @using (Html.BeginForm("Edit", "POI", FormMethod.Post, new { @class = "form", id = "editor" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.UUID)


        if (ViewBag.EnablePreviewMode == true)
        {

            //setup flags to signal to details view that we're doing a preview
            ViewBag.EnableSimpleView = true;

            <!--begin preview dialog-->
            <div class="modal fade" id="modalpreview" tabindex="-1" role="dialog" aria-labelledby="modalpreviewtitle" aria-hidden="true">
                <div class="modal-dialog modal-lg " role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h5 class="modal-title" id="modaltitle">Preview Submission</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <input type="button" class="btn btn-primary" value="Edit" id="preview-edit" />
                                <button type="submit" class="btn btn-success">Submit changes</button>
                            </div>

                            @Html.Partial("_TermsLink")
                            @Html.Partial("Details", new OCM.MVC.Models.POIViewModel() { POI = Model })

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
            <!--end preview dialog-->

            <h3 id="editheading">Edit Submission:</h3>
            <div class="checkbox" style="display:none;">
                <label>
                    <input type="checkbox" value="" id="editExtendedMode">
                    Use Advanced Editor
                </label>
            </div>



            <p class="text-info">Select a section below to make changes:</p>
        }
        else
        {
            <text>
                <div class="text-info">

                    @if (userId==null)
                    {
                        <div class="text text-warning">You are not signed in. You can proceed with your submission but certain features may be unavailable.</div>
                        @Html.ActionLink("Sign In", "SignIn", "Profile", new { redirectUrl = Url.Action("Edit", "POI", new { id = Model.ID }) }, new { @class = "btn btn-sm btn-success" })
                    }
                </div>
            </text>
        }

        @Html.Partial("_POIListingStatus", Model)

        @Html.ValidationSummary()

        <div class="accordion" id="wizardsteps">

            @if (ViewBag.HideAdvancedInfo != null && ViewBag.HideAdvancedInfo == false)
            {
                <div class="card bg-secondary">
                    <div class="card-header">
                        
                            <a data-toggle="collapse" data-parent="#wizardsteps" href="#step-approver">
                                <i class="fa fa-edit"></i> Approver Options
                            </a>
                        
                    </div>
                    <div id="step-approver" class="collapse show">
                        <div class="card-body">

                            <p class="text-info">To make a new listing public it's Submission Status must be set to <strong>Submission Published</strong>.</p>
                            <div class="form-group col-sm-4">
                                <div class="editor-label" data-localize="ocm.details.submissionStatus">
                                    @Html.LabelFor(model => model.SubmissionStatus)
                                </div>
                                <div class="editor-field col-sm-8">
                                    @Html.DropDownListFor(model => model.SubmissionStatus.ID, (SelectList)ViewBag.ReferenceData.SubmissionTypeList)
                                    @Html.ValidationMessageFor(model => model.SubmissionStatus)
                                </div>
                            </div>

                            <input type="submit" value="Save Changes" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }

            <!--step 1-->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <a data-toggle="collapse" data-parent="#wizardsteps" href="#step1">
                            <i class="fa fa-map-marker"></i> Step 1 - <span data-localize="ocm.details.location.sectionTitle">Location Details</span>
                        </a>
                    </h4>
                </div>
                <div id="step1" class="collapse collapse show">
                    <div class="card-body">
                        <p>
                            <strong>Thanks for taking the time to contribute. Please provide as much detail as you can about this charging location. Please <strong>do not</strong> submit private residences (such as your home). Listings without basic charging equipment information will be rejected without notice, so please provide as much information as you can.</strong>

                        </p>
                        <!--begin location editor-->
                        @Html.EditorFor(model => model.AddressInfo)

                        <!--end location editor-->
                    </div>
                </div>
            </div>

            <!--step 2-->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#wizardsteps" href="#step2">
                            <i class="fa fa-info-circle"></i> Step 2 - Basic Charging Details
                        </a>
                    </h4>
                </div>
                <div id="step2" class="collapse">
                    <div class="card-body">
                        <!--begin basic detail editor-->
                     
                            @Html.Partial("_EditPOIBasicDetails", Model)
                       
                        <!--end basic details editor-->
                    </div>
                </div>
            </div>

            <!--step 3-->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#wizardsteps" href="#step3">
                            <i class="fa fa-flash"></i> Step 3 - <span data-localize="ocm.details.equipment.sectionTitle">Equipment Details</span>
                        </a>
                    </h4>
                </div>
                <div id="step3" class="collapse">
                    <div class="card-body">
                        <!--begin basic detail editor-->
                        <div id="tab-equipment">

                            <p>This section details the exact type and power level of connections available at this site. Please provide as much info as possible. Listings with no equipment information will be rejected.</p>
                            @if (Model.Connections != null)
                            {
                                for (int i = 0; i < Model.Connections.Count; i++)
                                {
                                    var connectionItem = Model.Connections[i];
                                    <h4>
                                        Equipment Item @(i + 1) :
                                        @if (connectionItem.Reference == null)
                                        {
                                            if (connectionItem.ID > 0)
                                            {
                                                @:OCM-CN-@connectionItem.ID
                                            }
                                        }
                                        <input type="button" id="remove-equipment-@(i + "-" + connectionItem.ID)" value="Remove" class="btn btn-danger" />
                                    </h4>
                                    @Html.EditorFor(m => Model.Connections[i])
                                }
                            }



                            <input type="button" id="additional-equipment" value="Add Additional Equipment" class="btn btn-info" />
                            <input type="hidden" id="editoption" name="editoption" />
                        </div>
                        <!--end basic details editor-->
                    </div>
                </div>
            </div>

            @if (ViewBag.HideAdvancedInfo != null && ViewBag.HideAdvancedInfo == false)
            {

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <a data-toggle="collapse" data-parent="#wizardsteps" href="#step-approver-adv">
                                <i class="fa fa-wrench"></i> Advanced Options
                            </a>
                        </h4>
                    </div>
                    <div id="step-approver-adv" class="collapse">
                        <div class="card-body">
                            <p class="text-info">This section contains options which are not usually changed or are deprecated.</p>
                            <div class="form-group">
                                <div class="editor-label" data-localize="ocm.details.dataProvider.sectionTitle">
                                    @Html.LabelFor(model => model.DataProvider)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.DataProvider.ID, (SelectList)ViewBag.ReferenceData.DataProviderList)
                                    @Html.ValidationMessageFor(model => model.DataProvider)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="editor-label" data-localize="ocm.details.dataProvider.providersReference">
                                    @Html.LabelFor(model => model.DataProvidersReference)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DataProvidersReference)
                                    @Html.ValidationMessageFor(model => model.DataProvidersReference)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="editor-label" data-localize="ocm.details.operator.operatorsReference">
                                    @Html.LabelFor(model => model.OperatorsReference)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.OperatorsReference)
                                    @Html.ValidationMessageFor(model => model.OperatorsReference)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="editor-label" data-localize="ocm.details.datePlanned">
                                    @Html.LabelFor(model => model.DatePlanned)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DatePlanned)
                                    @Html.ValidationMessageFor(model => model.DatePlanned)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="editor-label" data-localize="ocm.details.dateLastConfirmed">
                                    @Html.LabelFor(model => model.DateLastConfirmed)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DateLastConfirmed)
                                    @Html.ValidationMessageFor(model => model.DateLastConfirmed)
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.DataQualityLevel)
                        </div>
                    </div>
                </div>
            }
            else
            {

                @Html.HiddenFor(model => model.DataProvidersReference)
                @Html.HiddenFor(model => model.DataQualityLevel)
                @Html.HiddenFor(model => model.DatePlanned)
                @Html.HiddenFor(model => model.DateLastConfirmed)
                @Html.HiddenFor(model => model.OperatorsReference)
                @Html.HiddenFor(model => model.SubmissionStatusTypeID)
                @Html.HiddenFor(model => model.DataProviderID)
            }

        </div>

        <div class="form-actions">
            @Html.Partial("_TermsLink")

            @if (Model.ID > 0)
            {
                <a href="@Url.Action("Details", "POI", new { id = Model.ID })" class="btn btn-info">Cancel</a>
            }
            else
            {
                <a href="@Url.Action("Index", "POI")" class="btn btn-info">Cancel</a>
            }


            <input type="button" value="Preview" class="btn btn-success" id="preview" />
            @if (ViewBag.EnablePreviewMode == true)
            {
                <input type="submit" value="Submit" class="btn btn-primary" />
            }

        </div>

    }

@*
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

*@
    <script src="@Url.Content("~/js/OCM/SharedLibs/OCM_Base.js")"></script>

    <script src="@Url.Content("~/js/OCM/SharedLibs/OCM_Base.js")"></script>
    <script src="@Url.Content("~/js/OCM/SharedLibs/OCM_Data.js")"></script>
    <script src="@Url.Content("~/js/OCM/SharedLibs/OCM_Geolocation.js")"></script>

    <script>

        $(document).ready(function () {


            $("#editExtendedMode").change(function () {
                refreshEditorMode();
            });

            //FIXME: use bootstrap styles for form controls
            $(".text-box, select, textarea").addClass("form-control");

            refreshEditorMode();

            $("#additional-equipment").click(function () {
                //submit form and request additional equipment
                $("#editoption").val("addconnection");
                $("#editor").submit();
            });

            $('[id^="remove-equipment"]').click(
                function () {
                    //submit form and request equipment removal
                    $("#editoption").val(this.id);
                    $("#editor").submit();
                }
            );

            $("#preview").click(function () {
                //submit form and request additional equipment
                $("#editoption").val("preview");
                $("#editor").submit();
            });

            $("#preview-edit").click(function () {
                //hide preview and expand edit
                $("#modalpreview").modal("hide");
                $('#step1').collapse('show');

            });

            if (enableEditMode == true) {
                //show preview (if enabled)
                $('#modalpreview').modal('show');
                //collapse all edit sections
                //$('#step1').collapse('hide');
                //$('#step2').collapse('hide');
                //$('#step3').collapse('hide');
                locationEditor.refreshMap();

                //refresh map view when collapsed region is opened
                $('#step1').on('shown.bs.collapse', function (e) {
                    locationEditor.refreshMap();
                })
            }
        });


    function refreshEditorMode() {
        var extendedMode = false;
        if (document.getElementById('editExtendedMode') != null) {
            extendedMode = document.getElementById('editExtendedMode').checked;
        }

        if (extendedMode === true) {
            $("[data-editormode='extended']").show();
        } else {
            $("[data-editormode='extended']").hide();
            $("[data-editormode='advanced']").hide();
        }

        //TODO: advanced mode
    }


    </script>
